[2015-12-22 14:01] twang2218 opened #2 "Adding Pentax K-3 Support"
I'm creating this issue, so we can centralize the related discussions here.

While K-3 inherits a lot from K-5 series, the internal has some differences. K-3 has a new image processor, PRIME III, which might be the reason why there is a byte order changes in the communication between computer and camera.

I forked the master branch and created a 'k3' branch, targeting on K-3 porting, at here: http

[2015-12-22 18:41] asalamon74 commented on #2
## Lomo effect

The GUI and the command line calls the same methods but there are a few differences. The GUI uses a more complex way to delete the buffer. Please check the `preview_delete_button_clicked_cb` method and the `autodelete` part of the `auto_save_check` method. The GUI refreshes the status buffer till the camera reports back the delete, and sometimes it even calls the delete multiple ti

[2016-01-08 00:47] twang2218 commented on #2
I wrote a Pentax SCSI communication protocol documentation based on bootcoder's (@PentaxForum.com) discovery in the firmware, and my understanding of the `pktriggercord` code. The document is not finished yet, I will keep update it as more findings come up. I hope this discovery journey can help us understand the problem of K-3's X10 commands issue.

https://github.com/twang2218/pktriggercord/blob

[2016-01-08 16:53] asalamon74 commented on #2
Great documentation. I'd be happy to add it to the project. A few suggestions:
- An intro sentence would be great to mention that their is no official Pentax documentation. I've been asked for it quite a few times.
- 1.1 It seems to me 0x49 0x4f codes are mixed here.
- 2 I think 49 should be replaced by 4F.
- Maybe it worth mentioning that X1 and Y1 are always 0 (because the buffer is very small).

[2016-01-13 07:33] twang2218 commented on #2
Done, I added those information in the document, and sorry for mixed up with `0x49` and `0x4F` command in the first place.

For `[00 08]`, I may add more details later, I haven't summarized the status data, offsets/type/fields, across different cameras, but I think it's very useful.

We located `[10 07] Green()`, `[10 0C] Continuous()` and `[10 0D] Bulb()` functions in the firmware, the initial an

[2016-02-19 01:23] farbodab opened #6 "K50 Support Question"
Hello,

I have a k50 and this is the only software I've found that seems very promising. Let me know what I can do to help you with improving support for the K50. I currently cannot take pictures in bulb mode. I can in manual mode but I cannot change the shutter speed or the bulb exposure mode.

[2016-02-21 14:01] asalamon74 commented on #6
What operating system do you use?

First, please set the camera to bulb mode and execute the following command and copy the result here:

pktriggercord-cli --debug --status_hex

Please also try the following:

pktriggercord-cli --debug -t 32 -o test.dng

[2016-02-21 14:33] farbodab commented on #6
I've used both linux and windows with the same results. Here are the results of commands in linux terminal:

[code]

[2016-02-24 13:25] asalamon74 commented on #6
The Bulb mode setting on the camera is correctly recognized, but the camera does not accept the bulb start command. It might be firmware limitation, or the K-50 requires a different way to start bulb exposure.

I'll add this info to the BUGS file and keep the issue open, maybe later someone with a K-50 camera will send a patch.

[2016-05-23 07:29] crispinus2 opened #8 "Issues with my K-3"
pktriggercord seems to be completely incompatible to my K-3 (firmware version is 1.21). pktriggercord recognizes the camera correctly and I can see the status information, but I'm not able to set any parameters (like exposure mode, shutter speed, iso or aperture value) and the camera shows impossible values for shutter speed and aperture mode if set to Manual exposure by the mode wheel. The debug

[2016-05-26 13:08] asalamon74 commented on #8
You're not the first one reporting similar K-3 problems. It seems to me the program works for some K-3 users and does not work for others.

You can check the [issue](https://github.com/asalamon74/pktriggercord/issues/2) opened by the original K-3 developer. Some of the features were not working for him, but he was able to take (sometime not perfect) images.

It might me a firmware-specific problem

[2016-05-27 21:05] nanowish opened #9 "Increase output to file speed"
Hello,

currently output to file (/get from buffer) in jpeg take between 4 and 7 seconds (with my K-5) and seem too long than write to SDcard when I take picture directly from APN. Any tips for increase write speed ? tested write in tmpfs, ssd, sdcard, connecting to USB2.0, USB3.0 ... the bottleneck seem to be from APN buffer to computer. When triggercord write the file can't do more.

tested with

[2016-05-29 08:20] asalamon74 commented on #9
4-7 seconds for a jpeg? How long does it take to download a dng?

[2016-05-30 14:37] lgm-k3 commented on #2
Hello
 First an introduction as this is my first post. I have been fiddling with and using Pentax cameras for years. Currently my attention is occupied with a K-3, early first version with 1.21 OS.

When I used to work before Father Time said I had to stop I worked with scientific imaging and had a lot to do with expensive instruments for image analysis, customer user interfaces and numerous logic

[2016-05-31 10:54] asalamon74 commented on #2
Hi,

Do you have the same problem using K-3 and K-10D? It indicates that it's not a K-3 specific problem.

If you suspect a GUI problem I suggest trying the command line interface. Does it work?

The GUI uses the min. and max. aperture info read from the camera, it might cause problems if these values are incorrect. What is the output of the following command for a working DA and for a non-working

[2016-06-01 13:45] lgm-k3 commented on #2
Hi, ok. Pls Give me a few days to work through this in full.
Laurence

[2016-06-15 15:25] nanowish commented on #9
Yes for a jpeg.

DNG take more time:

[code]

JPEG test:

[code]

[2016-06-17 21:21] nanowish commented on #9
I added some informations.

Select buffer return many ERROR and takes 3-4 secondes:

[code]

Debug output of "[Select buffer](https://github.com/asalamon74/pktriggercord/blob/08d4f22286501c1fbaf43ddf48f70af45b1cdcda/pslr.c#L1208-L1224)"

[code]

[2016-06-24 14:06] horemachet opened #10 "Support for K-1?"
Hi Folks,

are there any plans to support the new Pentax K-1 already?
Do you neet some testing support?

Regards,

Karsten

[2016-06-26 08:25] asalamon74 commented on #10
Someone was planning to add support but haven't sent me the patch yet.

If you're ready to test it I can try to add support. What operating system do you use?

[2016-06-26 09:03] horemachet commented on #10
Hi,

I would be glad to help. I am using openSuSE Leap 42.1.

Best Regards, Karsten
Am 26.06.2016 10:25 schrieb "sala.melda.info" notifications@github.com:

[2016-06-29 06:52] asalamon74 commented on #10
I've commited limited support for K-1, please clone the latest code and compile it.

The program should recognize the camera. First I suggest to test the following command, please copy the output here:

pktriggercord-cli --status_hex --debug

[2016-06-29 10:55] Knubbel commented on #10
Hi, here is the output using the windows version I found here.

[code]

[2016-06-29 16:02] asalamon74 commented on #10
The latest release (0.84.00) does not support K-1, only the development (0.84.01) version. Since it's quite difficult to compile the program for windows I attach a windows test version here.

[pktriggercord-0.84.01-win.zip](https://github.com/asalamon74/pktriggercord/files/339664/pktriggercord-0.84.01-win.zip)

[2016-06-29 16:30] Knubbel commented on #10
Thanks. This is the output:

[code]

[2016-06-29 18:54] horemachet commented on #10
I am on a business trip until Friday and don't have the camera with me.
I just set up the test einvironment though.
I'll give it a trial on Friday and post the results here.

Best regards,

Karsten

[2016-06-30 13:51] asalamon74 commented on #9
My tests also shoes the select buffer takes quite a long time. The errors are not "real" errors. It only means that we have asked the camera to switch to the buffer, but the camera is not yet ready. If I don't wait till the switch is successful  I cannot download the image later.

I've modified the poll interval so I check the result of the buffer switch more often. It increased the speed a bit (m

[2016-06-30 13:51] #9 closed

[2016-07-02 06:09] asalamon74 commented on #10
I've modified the code, I attach the new windows test version.
[pktriggercord-0.84.01-win.zip](https://github.com/asalamon74/pktriggercord/files/344431/pktriggercord-0.84.01-win.zip)

Please execute the same command and also give me the following information:
- The name of the lens
- The focal length used

[2016-07-02 07:10] horemachet commented on #10
Hi Folks,

I just gave it a trial. It seems it doesn't recognizes the camera.
Camera is set to PTP-Mode.
I did a trial with MSC Mode but with no effect.

`
./pktriggercord-cli --status_hex --debug
Debug messaging is now enabled.
./pktriggercord-cli 0.84.01
model (null)
device (null)
[C]     plsr_init()
driveNum:2
        Checking drive:  sg0 ATA
 WDC WD5000LPVT-2

[code]

 DVD RW AD-7700H

[code]

[2016-07-02 07:48] asalamon74 commented on #10
The camera should be set to MSC mode. Can you test it as root?

[2016-07-02 08:04] Knubbel commented on #10
That is the output using the new windows version you posted above:

[code]

The lens used is an 35 mm prime lens : DA 35mm F2.8 limited.

The new code has another interesting effect:
When I plug the USB cord into the camera it gets manually unusable and shows "PcS" (I guess that stands for "PC Sync") in the top display. That is normal.
But after running the command line it is kicked out of this mo

[2016-07-02 08:42] asalamon74 commented on #10
@Knubbel Getting better. I attach a new version.

[pktriggercord-0.84.01-win.zip](https://github.com/asalamon74/pktriggercord/files/344458/pktriggercord-0.84.01-win.zip)

A few important fields still need to be found. Please set the camera to M mode and shutter speed to 1/1000 and execute the same command, after that to the same for 1/2000. The difference should show the place of the shutter speed

[2016-07-02 09:10] Knubbel commented on #10
That is the output at 1/1000 (setting the camera must be done prior to pluging in the USB cable as the camera is inaccesible afterwards in PC-Sync mode).

pktriggercord-cli.exe --status_hex --debug

[code]

[2016-07-02 09:12] Knubbel commented on #10
And now again in M mode but with shutter at 1/2000:

[code]

[2016-07-02 09:46] Knubbel commented on #10
Just as a side comment:
I chose the fixed center AF point which pktriggercord reports as 16384.
maybe you take a look at how Phil Harvey from exiftool interprets things. He calls it "Fixed Center;0" for the K-1. The numerical values for AF point selected in the exifdata for this shot are "65534;0".

[2016-07-02 10:22] asalamon74 commented on #10
@Knubbel I've fixed a few more things, hopefully most of the important fields will be parser correctly in this version. Plase test it.

[pktriggercord-0.84.01-win.zip](https://github.com/asalamon74/pktriggercord/files/344505/pktriggercord-0.84.01-win.zip)

I cannot find the value 65534 in the status buffer.

You might test taking a picture using the following command:

./pktriggercord-cli --debug

[2016-07-02 10:32] horemachet commented on #10
Okay, did it as root and in MSC-Mode.
Result is definitely different :-)

[code]

[2016-07-02 16:05] Knubbel commented on #10
Here is my result using the latest windows exe posted above:

[code]

[2016-07-02 16:12] Knubbel commented on #10
Then I tried taking an picture using the command

It actually did trigger the shutter, but the output in the command line window soon starts rushing by neverendingly. Below is the beginning of it, later it seems to just repeat a couple of lines.

[code]

[2016-07-05 12:59] asalamon74 commented on #10
@Knubbel Hmm. Bufmask looks empty.

I suggest to change the camera to bracketing mode (3 pictures, +- 1EV) and check the status reading after that. If the program does not recognize bracketing mode I'll try to fix it.

If the camera recognizes bracketing mode try to take 3 pictures ( --frames 3 ). If it takes 3 pictures and downloads all the pictures after that. If i really takes 3 pictures then t

[2016-07-06 21:40] flipster64 opened #11 "Where exactly are we with the K-50?"
I do have a K-r, and I can use that, but I'm trying to figure out just how much functionality there is for the K-50 there is ... I know it says "bugs".  But I don't know to what extent or what kinds of things we're talking about.

I connected with 0.84 to my K-50 using Windows 10 last night..  I put it in "M" Manual mode.   I could get it to take some pictures.  One thing I noticed it did was set

[2016-07-07 05:58] gsrokmix opened #12 "Installation & usage for newb please..."
Hi,

I am desperate to be able to tether my K-5 ii to my Macbook Pro. I have read great things about your software by some people on the Pentax forums, and at DP Review. I have downloaded the Windows version, as well as the latest GTK. I am trying to use pktriggercord in a VM on my Mac. I have Windows 7 installed, and am using it through Parallels. I can't for the life of me figure out how to get

[2016-07-08 07:22] asalamon74 commented on #12
The program uses quite low-level ways to access the camera. I don't know Parallels but it's quite possible that the virtual computer does not support the same low-level ways to access the camera.

You can start the gui using the pktriggercord command, it should automatically connect to the camera.

If it's not working you may try the command line version:

pktriggercord-cli --status --debug_hex

[2016-07-08 11:00] #2 closed

[2016-07-08 11:06] asalamon74 commented on #11
I suggest to test the command line version first. You can change shutter speed using −t ( or  −−shutter_speed ).

Just changing shutter speed:

`pktriggercord-cli -t 1/4 --status`

Does changing works here? You can try different values: 1/100, 1/4, 2, 10 (up to 30).

If it works you can try to take pictures:

`pktriggercord-cli -t 1/4 -o test.dng`

If it still works you can check the source code o

[2016-07-08 18:07] Knubbel commented on #10
I set the camera to Av mode and to 3 image bracketing. This here is what I get for
pktriggercord-cli.exe --status_hex --debug

[code]

[2016-07-08 18:14] Knubbel commented on #10
Then I triggered it using the same command I used last time.
It did some flickjering three times and then fired three times.
None of the images were saved to sd card.
After firing three times the neverending output in the commandline window started again.

[code]

[2016-07-14 13:18] asalamon74 commented on #10
@Knubbel Sorry for the slow response. The program correctly recognizes the bracketing mode. Could you please add --frames 3 to the last command? Without that the camera only takes one picture even if the bracketing mode is set.

pktriggercord-cli.exe --debug --file_format dng --frames 3 -o test2.dng

[2016-07-17 11:05] Knubbel commented on #10
Hi.
The camara did shoot 3 images even last time. Now I used your command and it shot 3 times 3 shots, 9 in total. But to be clear here: I already set the camera to 3 shot bracketing mode before pluggin in the USB cable. So that could be the cause.

It is worth mentioning that not a single of the 9 shots is saved on my HDD, it just creates a single zero Byte file named "test3.dng-0000.dng"

And ag

[2016-07-17 12:08] horemachet commented on #10
Hi,

I did do the test on Linux.
I left the camera settings to default. Means no bracketing settings configured on the camera.

At the beginning the display is off.

Giving
./pktriggercord-cli --debug --file_format dng --frames 3 -o test2.dng

the display flashes three times. With the third flash it does one shot.
One file with size 0 is stored to the disk:  test2.dng-0000.dng

I did do the test w

[2016-07-19 18:35] asalamon74 commented on #10
@Knubbel It seems to me Pentax K-1 handles bracketing a different way. On my K-x (after I set bracketing mode) I have to send 3 shutter command to take the three pictures. That's why I suggested --frames 3. K-1 tries to take all the 3 pictures after the first command.

Unfortunately I cannot find the bufmask (the field that shows the status of the camera buffers). And downloading the first buffer

[2016-07-19 18:36] asalamon74 commented on #10
@horemachet Well at least it shows that it works the same for Linux and Windows, so it's not an OS-specific issue.

[2016-09-01 16:46] farbodab commented on #11
Sorry for the dumb question but how do you use the pktriggercord-cli on windows. When I open it and try to input commands it won't let me. All I can see is
![image](https://cloud.githubusercontent.com/assets/17326914/18176075/0fe9dd8e-7042-11e6-8f5c-4406de269bff.png)

[2016-09-02 06:52] asalamon74 commented on #11
@farbodab Open a console (terminal) windows and type the command you want to use. For instance

`pktriggercord-cli --status`

[2016-09-06 18:29] horemachet commented on #10
Any news on this?

[2016-09-08 07:10] asalamon74 commented on #10
@horemachet No

[2016-12-11 11:05] mmxbow opened #13 "Doesn't work with K-30"
I have a K30 camera with firmware updated to 1.06.
pktriggercord doesn't work wiht this camera. The program cannot set properly a shutter speed and ISO.
A value of the shutter speed is 9999" in the camera and 0 in status info regardless of a value in settings window.
[K30_status.txt](https://github.com/asalamon74/pktriggercord/files/644385/K30_status.txt)

[2016-12-12 23:49] jmozmoz opened #14 "Support for K-70?"
I tried to use the command line utility (using Windows) to connect to my K-70:
[code]

Is there any change to add support for it? Where to start?

[2016-12-13 08:01] asalamon74 commented on #14
K-70 is not yet supported. I've created a test version, please test it and copy the output here.

[pktriggercord-0.84.03-win.zip](https://github.com/asalamon74/pktriggercord/files/648266/pktriggercord-0.84.03-win.zip)

[2016-12-13 19:47] asalamon74 commented on #13
Please set the camera to Tv mode and execute the following command:

`pktriggercord-cli --shutter_speed 1/1000 --status_hex`

What is the output? Does it change the shutter speed of the camera?

[2016-12-13 23:14] jmozmoz commented on #14
Thank you for your very fast response. The GUI version crashed on startup. This is the output from Visual Studio Debugger:
[code]

Here is the output of the status from the command line:
[code]

I was also able to get a picture in manual and "green" mode:
[code]

So actually, everything I need is there :smile: :clap: :+1:
(ok, it would be nice to have all this status infos, but as everything is in

[2016-12-14 07:59] asalamon74 commented on #14
Looks promising.  I attach a new version which tries to parse the status info. Please try the following command:

`pktriggercord-cli.exe --status_hex --debug`

It might also fix the GUI. I'm not sure. You can also add `--debug` for the GUI.

[pktriggercord-0.84.03-win.zip](https://github.com/asalamon74/pktriggercord/files/651071/pktriggercord-0.84.03-win.zip)

[2016-12-14 20:25] jmozmoz commented on #14
[code]
The GUI does not crash (immediately) anymore. If I press "Green Button" is hangs. I can access status, focus and take picture. But it looks like pictures are not saved. At least I cannot find them.

[2016-12-15 10:32] asalamon74 commented on #14
Most of the fields look good. "af point select" is invalid, I'll fix it, because it may cause problems. Battery fields also look strange but those fields are not too important.

Green button: It is best to test the command line version first. Try to take a picture with and without --green option.

GUI save: The GUI does not save the image if you take a picture (it saves only in the camera buffer).

[2016-12-15 12:56] nikolay-turpitko commented on #13
Hi! I have a similar problem with my K-30 (firmware v 1.01).

I've tried GUI app and it seems, that it did't change some settings. When I tried to get picture, it opened mirror for several seconds and picture was overbright (it showed 9999" on the camera display). Also I noticed that app showed Av mode, but camera was set to Tv.

I've tried to reset all camera settings to the factory values and tr

[2016-12-20 20:33] jmozmoz commented on #14
The second version you send me seems to include some regression: With the first version I could take pictures and transfer them to the computer. With the second version, the (command line) program hangs and only a picture file with size 0 is created. I have attached two log files, _v1 was created using the first version you linked in your comment on 2016-12-13, _v2 used the second version of 2016-

[2016-12-21 09:14] asalamon74 commented on #13
Lots of issues here

Strange bugs: The original guy who added K-30 support also reported similar things. Shutter speed changing to 9999s, strange exposure modes. If he was not able to fix these bugs (although he had a K-30), I don't think I'll be able to fix the bugs without a K-30. I've updated [BUGS](https://github.com/asalamon74/pktriggercord/blob/master/BUGS) file.

Firmware: I also added this

[2016-12-21 13:18] nikolay-turpitko commented on #13
Well, it seems that one can go just so far without official protocol description.

I stopped to play with the program, when instead of performing auto-focus it suddenly cause the camera to zoom in and out so quickly that it jumped on the table and powered off, and won't power on again till I removed battery. I'm afraid such a harsh movement can cause a damage to lenses' drive. Strangely, it execut

[2016-12-23 01:05] jmozmoz commented on #14
So I traced down my problem (without really knowing what I am doing): The check at https://github.com/asalamon74/pktriggercord/blob/0c3d8e20a70ee645b6e2744d3afd568674050bfc/pslr.c#L909 for bufmask results in a return from the function. The likely reason is, that the bufmask value is read from the wrong address within the status buffer (set at https://github.com/asalamon74/pktriggercord/blob/9e0be4

[2016-12-23 07:49] asalamon74 commented on #14
There is a buffer in the camera for the images. It can store several images but no more than 16. bufmask is a 16-bit word. Each bit shows if the camera buffer is occupied/empty at that index.

Invalid bufmask reading may cause the strange regression. My first version ignored the bufmask , the second tried to read it.

Test it using bracketing. If you take 3 images using bracketing the camera store

[2016-12-23 10:11] Knubbel commented on #10
Hi,
I just did a retry using the latest windows build. Generally all seems to be working with the big exception of data transfer. The images are saved neither on card nor HDD. Consequently no preview image is shown in pktriggercord.
I do wonder if tehre is something about the USB connection type.
PKTriggercord only recognizes the camera in MSC mode.
Pentax own Image Transmitter software requires t

[2016-12-23 10:16] Knubbel commented on #10
And here is the result of "**pktriggercord-cli.exe --status_hex --debug --file_format dng -o test1.dng**"

It does look differently from the output weeks ago. For example it doesnt run neverendingly. Is there really no way to locate the buffer?
Or something different in PTP mode?
[code]

[2016-12-23 11:16] asalamon74 commented on #10
@Knubbel The program only works in MSC mode, not in PTP mode.

I've created a new test version (based on the bufmask of K-70 see  #14). Please try it.
[pktriggercord-0.84.03-win.zip](https://github.com/asalamon74/pktriggercord/files/670678/pktriggercord-0.84.03-win.zip)

[2016-12-23 13:41] Knubbel commented on #10
Used your new version, but on CLI it did not do anything:

[code]

[2016-12-23 15:18] jmozmoz commented on #14
Ok, what if found out is: There seems to be only one buffer in the camera. If I select bracketing and take 3 or 5 pictures, I am able to store the last picture as raw file (if I selected JPEG as standard format). The other 2 (or 4) pictures seem not available.

I tried different setups and downloaded the hex-status, and nearly all the time the buffer address 0x0c contains 0x01. Only in one case, t

[2016-12-24 07:01] asalamon74 commented on #13
Yes, an official documentation would be really helpful Since tethering is not officially supported it is also possible that the firmware has tethering bugs.

My program is a fork of the abandoned [PK-Remote](http://pkremote.sourceforge.net/) probably they used an USB-sniffer originally.

A few guys also reverse engineered the firmware and collected info [here](https://github.com/asalamon74/pktrigg

[2016-12-26 14:36] asalamon74 commented on #10
`--status_hex` just reads the status, it does not take picture. The first output gives s strange error, the second one looks much better. After reading the status the program exists it does nothing.

If you remove `--statux_hex` the program will try to take a picture and download it.

Did you press the shutter on the camera? For a few models you can do that if you add `--noshutter` instead of --st

[2016-12-26 16:36] asalamon74 commented on #14
Limiting the camera buffer size to 1 is a very strange change. Quite a few functions of the program will work even in this case, but a few advanced things (like bracketing...) will not work.

It also assumes that 0x0c is 0 at the beginning, 1 after taking an image and 0 after deleting the buffer. If 0x0c is always 1 it will not work.

Camera buffers can be deleted by the `pslr_delete_buffer` funct

[2016-12-27 06:49] asalamon74 commented on #14
@jmozmoz   I attach a new test version which uses your patch. Someone tested the Linux/K-70 and the program deleted the SD-card. This is very strange because the program is not able to save images to the sd-card. Make a backup before testing the K-70 support.

[pktriggercord-0.84.03-win.zip](https://github.com/asalamon74/pktriggercord/files/673656/pktriggercord-0.84.03-win.zip)

[2016-12-27 08:21] Knubbel commented on #10
First of all: Merry christmas!

Ok, I now used your latest version 0.84.03 again and tried some more. Now I found a couple of weird things but also some encouraging ones.

Using the GUI version I already knew I could trigger the camera successfully, but never got any image.
But that is not 100% true now.

1a)
When using the GUI version I  checked the "Auto save" box and entered "test1.dng" in the

[2016-12-27 08:28] Knubbel commented on #10
More weird stuff. I just wanted to document the 2a) output which I did not capture the first time, so I ran it again. It now did not only create a zero Byte file, but a 14 MByte corrupted file. 14 MByte is obviously not large enough for the 36 MPx. So it did save something. Strange.

Here is the output:

[code]

[2016-12-27 08:34] Knubbel commented on #10
OK, more testing. I found that the reason for the corrupted DNG file actually was my breaking off of the endlessly scrolling cmd output. Now I let it go on and it did end after a couple of seconds. The result is a working DNG file saved.

Here is the full output:

[code]

[2016-12-27 23:19] jmozmoz commented on #14
I saw a somewhat similar problem: At some point, the SD cards seems to be empty (if accessed from within the camera). But if I put it into a computer, the images were still there. I put it back into the camera and again, it looked empty. I turned the camera off and on several times, but it seemed not to help. Finally, I removed the SD card (I think, the camera) was turned off at that moment, and p

[2016-12-27 23:19] jmozmoz commented on #14
But I will further investigate the buffer issue...

[2016-12-28 19:00] asalamon74 commented on #10
`--debug` prints out lots of debug messages which makes the program quite slow. Without that it should work faster (still several minutes required for a save).

I'll check autosave, I hardly ever use it.

[2016-12-29 09:23] asalamon74 commented on #14
@jmozmoz I've asked the user about it. Waiting for the answer.

I've added --dangerous switch to the program (commited to github). Both the commandline and GUI version. Without this the program will refuse to connect to K-70.
[pktriggercord-0.84.03-win.zip](https://github.com/asalamon74/pktriggercord/files/676858/pktriggercord-0.84.03-win.zip)

[2016-12-29 09:39] asalamon74 commented on #10
I tested autosave and it was working correctly for me. For the name part you don't have to add .dng extension. If you enter 'test' as name the program will automatically create test0000.dng, test0001.dng... file names.

I don't really see any K-1 specific reason for a non-working autosave if 'save as' works correctly.

[2016-12-29 12:25] Knubbel commented on #10
I am still unable to do any autosaves, which is a critical function for me.
All happens under windows 7 64bit. Maybe its an windows version bug? Maybe something to do with path naming conventions?
I generally wonder what the "Auto delete" checkbox is for.
Maybe all this is connected to the GUI never showing any previews?

These are the current issues:

Issue 1: No preview image is ever shown in th

[2016-12-31 00:54] jmozmoz commented on #14
I added a python wrapper to the internal functions of pktriggercord to make it easier to experiment: 18000b340cff663a48b47fd2df237edf6447149d and the corresponding [branch](/jmozmoz/pktriggercord/tree/python_wrapper). At the moment I just added a small test script, which prints the name of the camera and then exists.

What I have found out about the SD card "erasing": As long as the camera is conn

[2016-12-31 06:49] asalamon74 commented on #10
@Knubbel

Issue 2: The GUI always shows the same 11 items regardless of the camera. Other configurations are not implemented.

Issue 3: Green button does not work for all the cameras.

Issue 4: Right after connection? The program thinks that the camera already has an image in the buffer and tries to show the preview, but it's not possible.

Issue 1 and 5 also shows that no image can be downloaded

[2016-12-31 14:16] jmozmoz commented on #14
Ok, here is what I found:
There is an address in the buffer (0xe8) which changes during taking bracketing shots:
Before taking pictures, it contains 1, also after the first shot, after the second, it's 2.

If the number of bracketing pictures set in the camera is 3, then after the third shot, it contains 0. Correspondingly, if the number of bracketing pictures is set to 5 in the camera, this count

[2016-12-31 14:19] jmozmoz commented on #14
One additional question: At the moment, the code contains mixed spaces and tabs. Are there any coding style rules, e.g. only spaces (8 characters indention) or only tabs?

[2016-12-31 17:29] asalamon74 commented on #14
@jmozmoz I'll check that counter (using my K-x).

Coding style rules: I prefer spaces (4 character indentations). I should convert all the remaining tabs one day...

[2017-01-04 11:02] asalamon74 commented on #14
@jmozmoz I've tested bracketing with my K-x, and I've found a similar field. The address of the byte is 0xe7 (so 0xe4 for 32-bit big-endian). It is 0 at the beginning. After the first shot it's 1, after the second it's 2. After the third (=last) it's 0 again. I cannot test the 5-picture mode because my camera does not support it. So it's similar but not exactly the same.

[2017-01-05 06:56] asalamon74 commented on #14
@jmozmoz I've added a new status field auto_bracket_picture_counter to the program.

[2017-02-09 12:40] mccodesurfer commented on #12
I'm trying to do the same but without VM or bootcamp, but If you have win7 on parallels then you can use pk_tether which works very well with the K-5II.

[2017-02-09 12:47] mccodesurfer opened #20 "Pentax API"
I was trying to port pk-remote to OSX and now I'm looking at pktethercord and both use scsi level API. Is it possible to get the USB level API? OSX works at the USB level. Thanks

[2017-02-09 13:17] asalamon74 commented on #20
My program ( pktriggercord ) is based on pk-remote. That is the reason for using the same low level (scsi) API. I don't know USB level APIs.

[2017-02-09 13:17] #20 closed

[2017-02-15 17:23] asalamon74 commented on #14
@jmozmoz I've created a new Makefile target (astyle) to format the source code (using astyle) and reformatted the code. So far I mostly modified only whitespaces (like replacing tabs using spaces) later I'll also clean up braces and other parts of the code. Maybe I'll also check the style in travis.

[2017-02-24 13:47] asalamon74 commented on #14
@jmozmoz Does you bufmask change work correctly? Can you save images?

[2017-02-28 00:09] jmozmoz commented on #14
@asalamon74 Unfortunately I still did not find the correct address for the bufmask. I can download one picture, or several pictures, but not with bracketing turned on. I have attached a log for the following command:

    ./pktriggercord-cli -o test0001 -F 3 --file_format=dng -q 4 -t 1/100 -i 100 -m M --dangerous -w --debug >log 2>&1

In the camera bracketing is set to 5 frames from -0.6 to +0.6 E

[2017-03-01 21:16] jmozmoz commented on #14
I think I tried everything, but I was never able to download more than one picture in bracketing mode. So I guess the handling of buffers changed.

I can take 3 or 5 shots on the camera quite fast before the picture are written to the SD card, so they are somewhere buffered. I also tried to ignore the bufmask before selecting/downloading the pictures but this also does not help.

So I would sugges

[2017-03-11 19:24] Blueshawk commented on #11
Followup for k-50 users.
I tested my k-50 with the latest code and I was able to get most functions working in the CLI with the exception of bulb without the nasty and scary flutter bug lockup the GUI was doing to them.

It would be great if we got bulb mode working so I could use it for long exposure astrophotography.

@asalamon74 Thank you for all your efforts!

[2017-03-11 19:28] Blueshawk commented on #6
:picks up the gauntlet:

[2017-03-11 19:40] Blueshawk opened #21 "integrating with Gphoto2?"
@asalamon74  I have been admiring your work for a long time as I try to set up a remote observatory using my pentax k-50 as the main camera for an Indi/ekos setup. Unfortunately, like many Linux tethering apps, the Indilib drivers use libGphoto2, which in turn uses the outdated Pktether to talk to early pentax cameras and doesn't support the later ones. I approached Gphoto developer @msmeissn but

[2017-03-12 14:09] asalamon74 commented on #6
@Blueshawk Thanks, waiting for the pull request. ;)

[2017-03-13 15:03] msmeissn commented on #21
I worked a bit on a longer train ride. I think there is similar to the previous pslr port an easy way

- use several pslr* files directly 1:1
- wrapper library.c file that  offers the libgphoto2 driver interface

[2017-03-14 08:06] asalamon74 commented on #11
@Blueshawk Thanks for the info. I do close this issue now because a separate issue is already opened for K-50 bulb mode problems: #6

[2017-03-14 08:06] #11 closed

[2017-03-14 13:00] asalamon74 commented on #21
I think libgphoto2 uses pkremote and not pktether. Pktether is a closed source application, pkremote is the original pentax tethering project I've forked to create pktriggercord.

Integration is OK for me, but I don't plan to modify my code too much. I don't like to idea to add lots of gphoto-specific code to pktriggercord.

I'll check the pull request soon.

[2017-03-14 15:42] msmeissn commented on #21
i need to redo it, i was a bit too enthusiastic with the windows part, and travis fails on win32

[2017-03-14 17:36] asalamon74 commented on #21
@msmeissn Yes, I've also realized that. You can check windows compilation using make localwin, that will also download the crosscompiler.

[2017-03-25 06:26] asalamon74 commented on #14
I've started testing the empty SD card (Card is not formatted error message) problem (I have a new K-70 camera):

- I had no problems using a 32GB FAT32 card. Problems started when I switched to a 64GB exFAT card.

- When I put the card into my computer it shows that the dirty bit is set. Mounting the card in my computer and correctly unmount it solves the problem, I can put it back into my camera

[2017-03-27 19:40] msmeissn opened #23 "k10d only gets 288 bytes status?"
I bought a K10D and it reports only 288 byte status, instead of 392 bytes.

I adjusted the table, but the ipslr_status_parse_k10d function seems to parse more than 288 bytes?

[2017-03-27 19:41] msmeissn commented on #23
./pktriggercord-cli --debug --status_hex > k10d.log

[k10d.txt](https://github.com/asalamon74/pktriggercord/files/873576/k10d.txt)

[2017-03-28 08:34] asalamon74 commented on #23
I'm quite sure that 392 is the correct number. Several users reported that pktriggercord handles K10D correctly and the parse function also requires more that 288 bytes.

The official [Pentax Remote Assistant 3](http://www.ricoh-imaging.co.jp/english/support/digital/remoteassistant_k10d_mac.html) requires firmware version 1.20 or later.

What is your firmware version? I've just commited a new feat

[2017-03-28 20:13] msmeissn commented on #23
yeah, i just bought it used and did not update the firmware (yet).

Firmware version: 1.00.00.07

[2017-03-28 20:27] msmeissn commented on #23
I updated the firmware to 1.31.00.19 now and the size is now 392 bytes

[2017-03-28 20:28] #23 closed

[2017-03-29 08:29] asalamon74 commented on #23
I've added this info to the webpage and to README.md
Thanks for testing.

[2017-04-27 10:33] kamayok3 opened #24 "Please solve all the K-01 Issues."
Hi,

Please solve all the issues in K-01.

Regards,
Tom

[2017-05-02 07:13] asalamon74 commented on #21
I close this issue, because it's more like an issue for libgphoto2 and not for pktriggercord.

[2017-05-02 07:13] #21 closed

[2017-05-04 11:39] asalamon74 commented on #24
That's quite difficult, because I don't have a K-01. You can help by listing the issues here.

[2017-05-04 21:34] jakeson21 commented on #24
If you kindly send me a K-01, I'll solve all the worlds problems.

[2017-05-14 21:49] achellet opened #25 "Pentax K3-II Bulb mode issue"
Hi !

First : Thanks a lot for your work!

I use Pktriggercord-cli with a raspbian distrib installes on a raspberry pi 3

I observed a bug regarding the bulb mode.
When i launch the following command :

sudo pktriggercord-cli -t 60 -F 3 -d 20 -o /home/pi/Desktop

Pktriggercord-cli displays :

Taking picture 1/3
pslr.c:877:get_status(p->fd) failed: 129
pslr.c:877:get_status(p->fd) failed: 129

I ne

[2017-05-15 21:00] Blueshawk commented on #25
Hi achellet, The bulb hasn't been working in the later models because of a change in the firmware.
 I've been researching the problem with my k-50 and haven't found a good way around it so far. Basically what is happening is the camera is returning an error because the command code for bulb has changed or moved, I suspect after they added the two different bulb types in the extra menu section.
We

[2017-05-16 08:48] asalamon74 commented on #25
Unfortunately, it's a common problem for newer cameras. I've added this info to the BUGS file.

[2017-06-03 21:25] asalamon74 commented on #10
I new K-1 user started to test pktriggercord, and the results are quite promising so far. He is using the latest firmware ( 1.41.28.16 ), it's possible that upgrading the firmware solves lots of tethering bug.

[2017-06-10 09:31] asalamon74 commented on #14
A small update on the bracketing problem:

If someone wants to take bracketing shots (e.g. 3 pictures) using older Pentax cameras, one has to press the shutter button multiple times. pktriggercord-cli was designed to support this mode.

Newer Pentax cameras has a so called 'one push bracketing  mode' when one has to press a single button and the camera takes all the pictures at once.

I've found a

[2017-06-17 07:01] asalamon74 commented on #14
I've found a solution for the bulb problem, I'm able to take bulb pictures using K-70. Hopefully the solution will work for the other cameras as well, but it needs camera-specific data. The bulb_modern branch contains the solution. I'll merge it into master when I eliminate the hardwired K-70 code.

[2017-06-24 07:51] asalamon74 commented on #14
I have removed the `--dangerous` hack, it is no longer needed if you want to connect to K-70. If you don't turn off the camera without proper unmount it will work correctly. Even if the camera shows that the card is empty, connecting to the PC, correctly unmounting fixes the problem.

[2017-06-25 09:40] asalamon74 commented on #14
I've merged bulb_modern branch into master

[2017-07-17 12:53] asalamon74 commented on #6
I've fixed a similar bug for K-70, hopefully the solution will work also for K-50.

I need the output of the following command twice. Once when the camera is set to BULB but the timer is not set, second when the camera is set to BULB and the timer is set to a long exposure (preferably 5 minutes). Please also tell me the exact time it was set:

`pktriggercord-cli --settings_hex --debug > debug.log

[2017-07-17 22:03] Blueshawk commented on #6
Woot! I'm on it! Stopping other work. I got stuck on this after helping out at libgphoto with an apparent command offset issue. Fingers crossed! I have a couple of procedural questions , to make sure we are on the same page for testing.
1. -Which menu setting should I set the bulb type to in the menu? press and hold or press press? Or will it not matter- (I just did both.)
2. ----Which dial settin

[2017-07-17 22:31] Blueshawk commented on #6
oh argh!...I checked the manual and the k70 has an internal timer for bulb mode. The k50 doesn't have this. I does however have the two modes I mentioned above. I'll go ahead and get you hex from each one.
Here's the one I got from the first part:
[bulb1debug.log.txt](https://github.com/asalamon74/pktriggercord/files/1154171/bulb1debug.log.txt)
And the second one:
[bulb2debug.log.txt](https://gith

[2017-07-18 09:56] asalamon74 commented on #6
@Blueshawk

Setting the dial to "B" is the best, I'm not sure about the user modes.

K-70 has two bulb modes (green button can change between them) one is the indefinite time (press-press or press-hold to specifies the length) and the other is the internal timer mode where you specify in advance the exposure time.  In this mode a single press is enough to take a bulb picture.

A K-1 tester found o

[2017-07-22 10:26] asalamon74 commented on #6
@Blueshawk Thanks to your 2 debug logs, I've commited a change, now the program is able to read to bulb mode of K-50 (press-press or press-hold). Please try it. It does not really help to fix the bulb problem, but it might be useful later.

[2017-07-22 15:50] Blueshawk commented on #6
I went ahead and made new logs with the settingshex and with -t60
 In mode 1 the shutter opens but closes right away ignoring any delay, and does not do the second one due to the error(presumably) as before.
In mode 2 it is a different story, The shutter locks open and stays, never finishing or writing a file

[rambling a bit jic something helps] Seems like I got it to do the shutter twice in this

[2017-07-26 12:05] asalamon74 commented on #6
I've tried press-press mode and sent a shutter command (pslr_shutter) waited for a few seconds and sent a second pslr_shutter command but it was not working. The second call of pslr_shutter gave me error.

[2017-07-26 12:15] Blueshawk commented on #6
Yeah there was something in the code that tripped it, I wish I could remember how I tricked it into doing that. I'll look it over again and see if I can duplicate it. Might be nothing but it's a squirrel to chase anyway. :D
--update, I took a quick look(I'm at work) and I'm pretty sure what I did was disable the bit in pktriggercord.c that calls bulb if in bulb mode, and just called shutter to get

[2017-10-01 18:03] metal3d opened #27 "K-500 doesn't work unlike said in page"
Hello,
I tried on Fedora 26 (compiled myself) and my pentax k-500 is not found.

That could surprise me that can work while gphoto2 (librairie) cannot use it.

Any chance to find why ?

Output:
[code]

Regards :)

[2017-10-02 10:32] asalamon74 commented on #27
A few tips:

- You don't have to specify the model. It is only useful if you connect two (or more models).
- The camera has to be in Mass Storage (MSC) mode, rather than PTP mode.
- You might try executing the command as root.
- I've commited a bugfix related to camera-recognition, if you checkout the latest version from git, it might work. If not it will show more debug messages.

If still not wo

[2017-10-02 20:13] tostiheld opened #28 "ioctl: invalid argument on trying to connect to a K-50"
Hi,

First of all, I thought tethering wasn't supported for my model, until I found your tool. Thanks so much for this! Secondly..: sadly it isn't working. I'd be happy to help fix this bug. The full debug log is:

[code]

[2017-10-02 20:57] tostiheld commented on #28
So after some printing of the errno variable in the code, I found out that ioctl sets errno to 22 (EINVAL), which it states, but I was to stubborn. Apparently it means request or argp is invalid (ioctl parameters).

EDIT: after that it depends on the SCSI driver used, but I'm not sure about that. I found this:
[code]
here : http://sg.danny.cz/sg/p/sg_v3_ho.html

I also found some different meaning

[2017-10-02 22:24] Blueshawk commented on #28
Hi Thomas, I'm a fellow K-50 owner and suffer and got myself involved in trying to tether it earlier this year. Some developments have been made with both pktriggercord and gphoto2, which is also worth a try. See libgphoto2 issue 31 for development notes on that end.
  Be sure your system doesn't automount the card and be sure to set the k-50 to MSC mode in menus. The default is PTP and while it _

[2017-10-15 13:07] amikot commented on #27
My K-500 been recognised by GTK version without any problem, but I could not set shutter speed, nor ISO.
Only aperture was possible to set.
However focusing and taking photo works (shooter speed is always around 10 sec), but still its unclear how to save this photo onto computer.

[2017-10-16 09:11] asalamon74 commented on #27
@amikot

What exposure mode do you use? You should use M mode if you want to change both aperture and shutter speed. (ISO setting might not work even in M mode).

Can you see the image in the thumbnails or in the preview after taking the photo?

[2017-10-20 22:23] amikot commented on #27
Of course I'm using M mode. Yes, I can take picture and I see thumbnail on right side - of course if somehow I will get right exposure (I need to make it in dark room as ISO is not possible to adjust and shutter speed is always around 10 sec).

Problem is not in this that program don't let me to change ISO and shutter speed. I can adjust values in program, but it looks that these settings are not

[2017-10-23 09:54] metal3d commented on #27
Ok the problem was that I need to launch it via sudo...
The preview is very slow BTW, but it seems to work.

I'm now only sad that libgphoto2 doesn't support my K-500 to work with Darktable... but that's another project ;)

I let you close the issue if @amikot problem is resolved too

[2017-10-23 09:56] metal3d commented on #27
BTW - I also have problems to setup some options, as @amikot

[2017-10-24 09:35] asalamon74 commented on #27
@amikot Thanks for the intensive testing.

About the issues:

-Green and AE lock does not really work on some models.

-ISO changing is not working in M mode (I've tried several ways using my K-x but it was never working)

-Only K-x and K-70 models support --setting.

Current shutter speed 0/0 looks really strange in your debug info. Could you attach the same output twice (in M mode). Once after y

[2017-10-26 03:03] amikot commented on #27
@asalamon74: Thanks for answer, and your will to do anything for users of Pentax cameras :)

Green and AE Lock is not essential, but ISO and shutter speed would be really good to be able to set.

I just tested this again and just realized that ISO range is wrong for my camera.
It should be 100-51200 but its 100-6400 - maybe it is the reason why its not working (Its not working in all modes, not on

[2017-10-28 18:34] asalamon74 commented on #27
@amikot Which version do you use? I've already fixed an ISO range bug similar to yours.

[2017-10-28 22:52] amikot commented on #27
@asalamon74:  It is version compiled from github few days ago.

[code]

[2017-10-29 11:28] asalamon74 commented on #27
@amikot I've fixed the ISO range bug, now it should show you the range 100-51200. To tell you the truth, I don't really think it will make ISO changing possible.

To debug you sent me looks OK, it seems to me the camera just ignores the command.
Could you please manually set the camera to 1/100 (in M mode) and attach the output of pktriggercord-cli --status_hex --debug . And the same for 1/1000.

[2017-10-29 22:49] amikot commented on #27
After doing first of tests that you asked for, changing shutter speed started to work, but aperture stopped, but with next try, everything except ISO was working.

I made some more tests and found out that:
If I will plug cable into the camera first, and launch pktriggercord and than I will switch the camera on (as I was doing always), I will get 0 shutter speed error, and shutter speed will be lo

[2017-11-01 16:37] asalamon74 commented on #27
@amikot

* This cable connection solution is very interesting. I'll also check it using my camera(s), hopefully it will eliminate some bugs.
* I should create some troubleshooting file to list these tricks.
* ISO range bugfix: I've commited a change a few days ago. The program has 3 different ISO tables (one for 1/3 EV, one for 1/2EV, one for 1EV) and some of the tables were incorrect. I've checke

[2017-11-02 03:51] amikot commented on #27
@asalamon74
I still didn't get this version where you fixed ISO range. So Its probably fixed - maybe no need to do any other tests.
Strange GUI I saw only once - when was doing tests last time - Selectors of resolution, quality and image tone - these were very wide, and all labels were tripled. So there was for example ***  ***  ***  as quality instead of ***. I cant provide screenshot of this - I

[2017-11-07 13:52] asalamon74 commented on #27
@amikot

I've created a [tips and tricks](http://pktriggercord.melda.info/tips_and_tricks.html) file which lists your connection order trick.

Strange GUI: Probably something went wrong during camera-specific initialization. It is quite difficult to debug it if it's not possible to reproduce it. I've cleaned up the GTK code a bit.

The program continuously reads status info from the camera and upd

[2017-11-12 00:58] amikot commented on #27
@asalamon74
Its really good idea to make tips and tricks list.
Strange GUI never happened again, so it was minor thing.
I understand how it works, but I just don't understand why you prefer to updates continuously instead of "on demand".
Finally it doesn't matter - because gui version is more like feature test program. Cli version is more useful. Can be used as script command - for example in time

[2017-11-14 09:26] asalamon74 commented on #27
@amikot I close this issue because the K-500 specific problems are (more or less) fixed.

To tell you the truth also also like the command line interface better than the GUI.

[2017-11-14 09:26] #27 closed

[2018-01-16 22:28] legel commented on #14
Just following up on this (very exciting to discover this project), with the K-70 what is currently not supported? By the way, I noticed there is no mention of the K-70 in the documentation, would support a pull request but not sure what the status of it actually is.

[2018-01-19 12:24] asalamon74 commented on #14
@legel K-70 is not listed in the documentation because it is quite buggy. Pentax cameras can store several images in their buffer, so you can take multiple images using pktriggercord before you need to download (and delete) the image from the buffer.

Unfortunately we can only access the first image for K-70 which makes it quite difficult to use the program. I was looking for several ways to read

[2018-01-22 14:02] legel commented on #14
Thanks @asalamon74 this is good to know.

A version that always downloads/deletes makes sense, and leaves no room for ambiguity so long as it is documented and maybe even printed to the user.

[2018-01-29 05:21] Nats-ji opened #30 "Issue with K3II - Writing to standard output"
The preview won't show up after the camera was connected. And the program froze up after clicking the take picture button. I think the problem is caused by the updated firmware. The firmware version is v1.10.

There is the debug log:

[code]

[2018-01-29 11:50] asalamon74 commented on #30
It seems to me, you're using and old version 0.84.02, could you please try the latest release 0.84.04?

[2018-01-29 12:05] Nats-ji commented on #30
I tried the latest release 0.84.04 before 0.84.02.
A pentax forum member posted pktriggercord was working with his K-3II (firmware v1.0), that was 0.84.02. So I tried that version with my K-3II (firmware v.1.10), but it didn't work either.
Just in case you need the 0.84.04 debug log:
[code]

[2018-02-02 12:44] asalamon74 commented on #14
I've modified the code, I'm using a different method to read the buffer mask. It is still not the single-buffer version I've mentioned above, but it's a more reliable way to find the first image at least.

[2018-02-02 12:52] asalamon74 commented on #30
Your first debug info might indicate that the buffer mask reading is not correct. I've created a test version to use a different (hopefully more reliable) way to read this info: [pktriggercord-0.84.05-win.zip](https://github.com/asalamon74/pktriggercord/files/1689390/pktriggercord-0.84.05-win.zip)

Unfortunately it is also possible that tethering works for one firmware version and not for an other

[2018-02-02 14:53] Nats-ji commented on #30
Thanks for the reply. Here are the new debug logs. By the way, is it possible to save the image to the memory card instead of reading the buffer from the camera and download it to the computer?

[code]

[2018-02-04 10:57] seeschloss opened #31 "Issue with K20d"
I'm trying to use this with my K20d (firmware 1.04) but it seems stuck somewhere, I'm attaching the output of `pktriggercord-cli --debug --status_hex` here: [k20d.txt](https://github.com/asalamon74/pktriggercord/files/1692680/k20d.txt).

I've tried to understand a bit what was going on, and... well according to [the protocol](https://github.com/asalamon74/pktriggercord/blob/master/pentax_scsi_prot

[2018-02-04 12:06] asalamon74 commented on #30
@Nats-ji Well, this debug log looks ok to me, the program was reading the settings, maybe you stopped it be too early (`--debug` adds lots of debug messages and makes it very slow).

By default the program writes the image to the standard output (which is not a good idea, I'll change that), could you test it by specifying an output file?

`pktriggercord-cli -o test.dng --file_format=dng --debug
`

[2018-02-04 12:14] asalamon74 commented on #31
@seeschloss K20D support was added a long time ago, but it would still be better to use a newer version instead of the old 0.84.00, debug messages has been improved a bit.

You might also check [http://pktriggercord.melda.info/tips_and_tricks.html](http://pktriggercord.melda.info/tips_and_tricks.html) for a few tips.

[2018-02-04 12:28] seeschloss commented on #31
Thanks, it's the same with the git version though ([k20d.txt](https://github.com/asalamon74/pktriggercord/files/1692769/k20d.txt)).

The camera is set to "PC" which is supposed to be UMS I guess, my privileges are fine, the firmware is up to date, I don't use liveview, I have not mounted or unmounted the SD card, and the rest of the points don't seem to apply here.

Actually, if I put the camera i

[2018-02-04 14:11] Nats-ji commented on #30
It worked. I got the dng file.

[debug.log](https://github.com/asalamon74/pktriggercord/files/1692880/debug.log)

[2018-02-05 11:06] asalamon74 commented on #30
@Nats-ji

It is not possible the save the image to the sd card.

I've tested the program using the standard output writing, and it was working for me. Different operating system (Linux), different camera (K-70). Maybe it does not work on Windows.

I was not a big fan of the default mode of the program, but I avoided the change because of compatibility reasons. Now that I see that it causes more pr

[2018-02-05 11:07] #30 closed

[2018-02-05 14:10] Nats-ji commented on #14
I can help with testing it on K3II

[2018-02-06 09:25] asalamon74 commented on #25
I've fixed a similar bug for K-70, hopefully the solution will work also for K-3 II. The solution uses the interval bulb timer, so it will only work if K-3II supports it. (That's why this fix is not working for K-50 as can be seen at issue #6 ).

I need the output of the following command twice. Once when the camera is set to BULB but the timer is not set, second when the camera is set to BULB and

[2018-02-06 09:26] asalamon74 commented on #14
@Nats-ji That would be great. There is a specific issue for K-3II bulb problem, I've added the info there: Issue #25

[2018-02-06 09:32] achellet commented on #25
Hello and thanks a lot for tour work.
I will test it asap and sens you logs and comments.

Envoyé à partir de mon Windows Phone
________________________________
De : András Salamon<mailto:notifications@github.com>
Envoyé : ‎06/‎02/‎2018 10:25
À : asalamon74/pktriggercord<mailto:pktriggercord@noreply.github.com>
Cc : achellet<mailto:achellet2@hotmail.com>; Author<mailto:author@noreply.github.com>
O

[2018-02-06 13:41] asalamon74 commented on #31
@seeschloss

The new debug log also shows version 0.84.00 (maybe you accidentally attached the same file again).

According to the log the program was able to connect to the camera, read the identification info (recognizing K-20D) but it is unable to read the status information. As you correctly guessed `00 84` is not good, it should be `01 00`.

Quite a few users tested K-20D successfully, so I h

[2018-02-06 22:33] Nats-ji commented on #25
I think the bulb timer function is only available for K-1, K-70, and KP. But when the GPS is turned on, the timer function in Astrotracer mode can be used on K-3II. I don't know whether this is helpful or not.

Debug log in normal bulb mode with GPS turned on. [debug-notimer.log](https://github.com/asalamon74/pktriggercord/files/1701050/debug-notimer.log)
Debug log in Astrotracer mode with the tim

[2018-02-08 08:41] asalamon74 commented on #25
@Nats-ji I can only find one yes/no field difference. Probably it's astrotracer on/off. I'll create a new test version (hopefully tomorrow) which reads this field and I'll also increase the number of fields read by settings_hex, maybe the timer value is stored somewhere else.

[2018-02-08 11:23] seeschloss commented on #31
Ah yeah I must have messed up my log (the real one is here
[k20d-2.txt](https://github.com/asalamon74/pktriggercord/files/1706789/k20d-2.txt)) though I don't think that it helps more.

I'm going to go with the bad cable hypothesis because as I understand, the camera should display "PC" or something when it's plugged on a computer, and mine doesn't. Also, it shows up as /dev/sdb but with "empty med

[2018-02-08 11:23] #31 closed

[2018-02-08 11:51] asalamon74 commented on #31
@seeschloss Yes, this log looks better, but does not really help.

[2018-02-08 15:58] achellet commented on #25
Hello and thanks a lot for your help and work!

This is the log file with and without astrotracer:
[MobaXterm_Pentax_K3_II_20180208_163617.txt](https://github.com/asalamon74/pktriggercord/files/1707769/MobaXterm_Pentax_K3_II_20180208_163617.txt)

[2018-02-09 10:03] asalamon74 commented on #25
@achellet The log only shows that the bulb is not working. You're using a very old version of the program, which does not support --settings and --settings_hex, only the git version supports it.

[2018-02-09 10:06] asalamon74 commented on #25
@Nats-ji @achellet  I've created a new test version. I attach it here:
[pktriggercord-0.84.05-win.zip](https://github.com/asalamon74/pktriggercord/files/1710524/pktriggercord-0.84.05-win.zip)

Hopefully it recognizes the astotracer flag, please test it (turn it on and off) using the following command:

`pktriggercord-cli --settings`

I've increased the settings buffer reading to 2048 bytes, please

[2018-02-10 08:40] achellet commented on #25
Hello !

I've downloaded the test version 084.05 and it works! As you explained i've to set the GPS on and astrotracer off and the exposure time to 60s (using the firmware).The software is not able to set the exposure time, the DSLR seems to have the priority. And  the time the DSLR is ready for a long exposure and start the first capture is a bit long. I've tested the GUI and it works too but see

[2018-02-10 08:40] #25 closed

[2018-02-10 12:37] asalamon74 commented on #25
I might find the astrotracer timer field. Could you send me the log after setting the timer to 2 minutes?

`pktriggercord-cli --settings_hex`

[2018-02-10 16:16] Nats-ji commented on #25
The program crashed on me.
![untitled](https://user-images.githubusercontent.com/13299626/36063835-51a35ebc-0ec5-11e8-9fec-b502a8d16d32.png)
[pktriggercord-cli --settings --debug.log](https://github.com/asalamon74/pktriggercord/files/1713547/pktriggercord-cli.--settings.--debug.log)
[pktriggercord-cli --settings_hex --debug.log](https://github.com/asalamon74/pktriggercord/files/1713548/pktriggerco

[2018-02-10 19:51] achellet commented on #25
Hi

Here are log files recorded with timer set to 120s and 300s
[MobaXterm_Pentax_K3_II_20180210_203645_timer_120s.txt](https://github.com/asalamon74/pktriggercord/files/1713718/MobaXterm_Pentax_K3_II_20180210_203645_timer_120s.txt)
[MobaXterm_Pentax_K3_II_20180210_204153_timer_300s.txt](https://github.com/asalamon74/pktriggercord/files/1713719/MobaXterm_Pentax_K3_II_20180210_204153_timer_300s.txt

[2018-02-11 14:51] asalamon74 commented on #25
@Nats-ji @achellet

I don't know the reason for the program crash. I've decreased the settings buffer size back to 1024 bytes, hopefully it will work again.

I've found the astrotimer second field, I attach a new version which tries to read it:
[pktriggercord-0.84.05-win.zip](https://github.com/asalamon74/pktriggercord/files/1714463/pktriggercord-0.84.05-win.zip)

Please test it. If the reading is

[2018-02-11 19:02] Nats-ji commented on #25
It's working now.
[settings_2min.log](https://github.com/asalamon74/pktriggercord/files/1714723/settings_2min.log)
[settings_5min.log](https://github.com/asalamon74/pktriggercord/files/1714724/settings_5min.log)

[2018-02-12 20:29] achellet commented on #25
Nice work!

I've tested the 0.84.05 version :
[MobaXterm_Pentax_K3_II_20180212_205553_astrotracer_off_300s.txt](https://github.com/asalamon74/pktriggercord/files/1717653/MobaXterm_Pentax_K3_II_20180212_205553_astrotracer_off_300s.txt)
[MobaXterm_Pentax_K3_II_20180212_212445_astrotracer_off_60s.txt](https://github.com/asalamon74/pktriggercord/files/1717654/MobaXterm_Pentax_K3_II_20180212_212445_ast

[2018-02-13 08:47] asalamon74 commented on #25
@Nats-ji @achellet Looks great, I'll create a test version soon which turns on the astotracer and set the seconds.

[2018-02-16 15:30] asalamon74 commented on #25
@Nats-ji @achellet I've created a test version it turns on automatically the astrotracer and sets the seconds.
[pktriggercord-0.84.05-win.zip](https://github.com/asalamon74/pktriggercord/files/1731827/pktriggercord-0.84.05-win.zip)

The camera has to be in bulb mode. If your camera has different bulb setting it has to be in press-hold (single press bulb mode) and not press-press.

[2018-02-17 14:27] achellet commented on #25
Hi

Seems to be a nice work. I'll test it and post logs and comment as usual.

Thanks a lot

Envoyé à partir de mon Windows Phone
________________________________
De : András Salamon<mailto:notifications@github.com>
Envoyé : ‎16/‎02/‎2018 16:31
À : asalamon74/pktriggercord<mailto:pktriggercord@noreply.github.com>
Cc : achellet<mailto:achellet2@hotmail.com>; Mention<mailto:mention@noreply.github.co

[2018-02-17 21:10] achellet commented on #25
Hello.
Here is the log registered with your last test version. It works very well. The exposure time can be set up to 5mn.

I would like to know if the astrotracer is set to off after the expose time is set?

[MobaXterm_Pentax_K3_II_20180217_220355.txt](https://github.com/asalamon74/pktriggercord/files/1734133/MobaXterm_Pentax_K3_II_20180217_220355.txt)

[2018-02-19 09:13] asalamon74 commented on #25
@achellet Right now the program does not change back astrotracer to off, but it's a good idea. I'll modify it.

[2018-02-24 14:35] asalamon74 commented on #14
I've modified the code, the command line version supports the single-buffer mode. I had to modify the bracketing handling:

- One push bracketing is temporarily turned off by the program.
- Pictures are downloaded one by one. So instead of shoot, shoot, shoot, download, download, download, it's shoot, download, shoot, download, shoot, download. It also means that there is a bigger delay between th

[2018-02-28 14:58] asalamon74 commented on #25
@achellet Here is a version which changes back astrotracer to off (if it was turned off at the beginning):
[pktriggercord-0.84.05-win.zip](https://github.com/asalamon74/pktriggercord/files/1767524/pktriggercord-0.84.05-win.zip)

[2018-04-03 18:51] SM3NSE commented on #10
Hi.
Is there any progress on the K-1 support? Or is this a dead project?

BR,
Lage

[2018-04-04 10:36] asalamon74 commented on #10
@SM3NSE The test results were promising, but it was not conclusive enough for me to close this issue. Do you have a K-1? Would you like to test it?

[2018-04-04 14:08] SM3NSE commented on #10
I do have a K-1. How can i contribute? Is there any risk of bricking the camera?

[2018-04-04 15:38] asalamon74 commented on #14
Unfortunately not only the number of buffers is limited to 1, but that buffer can only read once. So the GUI is not working correctly because it reads the buffer twice. first the preview (640x480) after the full size image (jpeg or raw). I've created a workaround, I read the fullsize jpeg instead of the preview, so now it's possible to show the preview and download the jpeg image.

Unfortunately i

[2018-04-05 07:32] asalamon74 commented on #10
@SM3NSE So far no one informed me about bricking the camera. I've sent unknown commands to my cameras without problems. Sometimes the camera stops and the battery has to be removed and put back.

What is your operating system? If you're using Linux, you can clone the latest version and compile it. If you're using Windows, I can attach a test version.

First, the connection has to be tested using t

[2018-04-05 09:09] SM3NSE commented on #10
I'm on W10. I guess i can setup a linux VM if that is preferrable?

[2018-04-05 12:18] asalamon74 commented on #10
@SM3NSE Easier to use Windows. Here is a test version: [pktriggercord-0.84.05-win.zip](https://github.com/asalamon74/pktriggercord/files/1879943/pktriggercord-0.84.05-win.zip)

[2018-04-05 13:01] SM3NSE commented on #10
pktriggercord-cli --status_hex --debug is working. now what?

[2018-04-05 13:20] asalamon74 commented on #10
@SM3NSE Could you please paste here the output?

[2018-04-05 14:04] SM3NSE commented on #10
[MobaXterm_Cmd_20180405_160207.txt](https://github.com/asalamon74/pktriggercord/files/1880319/MobaXterm_Cmd_20180405_160207.txt)
Here you are.

[2018-04-06 06:17] asalamon74 commented on #10
@SM3NSE I've found a bug based on your report and I've fixed it (hopefully). Could you please test the new version:
[pktriggercord-0.84.05-win.zip](https://github.com/asalamon74/pktriggercord/files/1882893/pktriggercord-0.84.05-win.zip)

[2018-04-07 09:22] SM3NSE commented on #10
[MobaXterm_Cmd_20180407_112057.txt](https://github.com/asalamon74/pktriggercord/files/1886226/MobaXterm_Cmd_20180407_112057.txt)
New output.

[2018-04-07 10:19] asalamon74 commented on #10
@SM3NSE Thanks it looks better.

Next step is to take a picture:

`./pktriggercord-cli --debug --file_format dng -o test1.dng`

Please don't use bulb mode or bracketing at the first time.

[2018-04-07 20:06] SM3NSE commented on #10
[MobaXterm_Cmd_20180407_220408.txt](https://github.com/asalamon74/pktriggercord/files/1886693/MobaXterm_Cmd_20180407_220408.txt)
yes, it did take a picture, even if the filename came out different to what i expected.

[2018-04-07 22:31] sebas77 commented on #10
Hey is there an android version to test? I am ready to test it

[2018-04-07 23:34] sebas77 commented on #10
Nvm I realized that what I really need is a screen mirroring not a tether app

[2018-04-08 12:20] asalamon74 commented on #10
@SM3NSE That looks great, better than the original tests. Could you please test the bulb mode? Please set the camera to bulb mode and execute the following command, which should take a 32 second image, so please be patient:

`pktriggercord-cli --debug -t 32 --file_format dng -o test_bulb`

Yes, the filename is a bit strange, `-o test` is better than `-o test.dng`, I'll modify the sample.

[2018-04-08 18:55] SM3NSE commented on #10
[MobaXterm_Cmd_20180408_205306.txt](https://github.com/asalamon74/pktriggercord/files/1887789/MobaXterm_Cmd_20180408_205306.txt)
Tested a 5s and 32s exposure. Both worked.

[2018-04-09 10:04] asalamon74 commented on #10
@SM3NSE That's great.

Could you please try the GUI by starting:

`pktriggercord`

After you take the first image the program should show a thumbnail and a bigger preview. If you try a second image, it should show two thumbails... Please also try to save the image.

[2018-04-09 13:03] SM3NSE commented on #10
nope, that failed. Cant set user mode. Green button fails. i can trigger camera, but no thumbnails, and it enters bulb mode.
Program crashes after a while if camera is turned off.
![pktriggercord2](https://user-images.githubusercontent.com/37220569/38499169-02c529f0-3c07-11e8-9adc-738931df3766.png)
![pktriggercord1](https://user-images.githubusercontent.com/37220569/38499181-0a349554-3c07-11e8-802

[2018-04-09 16:30] asalamon74 commented on #10
@SM3NSE

Green button is not working for newer cameras.

User mode selector is a read-only field, it is not possible to change it.

The 30s shutter speed looks quite bad. What if you first turn on the camera and connect only to the computer later, it solved the same program for an other camera model.

If it's not working, please execute

`pktriggercord --debug`

and attach the output here.

[2018-04-10 10:24] SM3NSE commented on #10
Nope, still doesn't work properly.
[MobaXterm_Cmd_20180410_122158.txt](https://github.com/asalamon74/pktriggercord/files/1894164/MobaXterm_Cmd_20180410_122158.txt)
![pktriggercord3](https://user-images.githubusercontent.com/37220569/38551648-08b818c8-3cba-11e8-9b05-a7faf81ed4b1.png)

[2018-04-11 10:01] SM3NSE commented on #10
Hi.
Just realized i wasn't running the latest FW in my K-1. Upgraded from 1.40 to 1.43
Unfortunately, no improved behaviour in pktriggercord...

[2018-04-12 07:28] asalamon74 commented on #10
@SM3NSE I've fixed a bug. Here is a new version:
[pktriggercord-0.84.05-win.zip](https://github.com/asalamon74/pktriggercord/files/1901783/pktriggercord-0.84.05-win.zip)

[2018-04-12 09:46] SM3NSE commented on #10
Can't see any difference.
![2018-04-12 11_44_10-greenshot](https://user-images.githubusercontent.com/37220569/38669641-20565aa6-3e47-11e8-90e7-aec5e1eeb35c.jpg)
[MobaXterm_Cmd_20180412_114456.txt](https://github.com/asalamon74/pktriggercord/files/1902449/MobaXterm_Cmd_20180412_114456.txt)

[2018-04-12 14:04] asalamon74 commented on #10
@SM3NSE I think I've found the problem:
[pktriggercord-0.84.05-win.zip](https://github.com/asalamon74/pktriggercord/files/1903470/pktriggercord-0.84.05-win.zip)

[2018-04-12 20:13] SM3NSE commented on #10
"After you take the first image the program should show a thumbnail and a bigger preview."
It shows a thumbnail but no bigger preview.
"If you try a second image, it should show two thumbails..."
It overwrites the first thumbnail.
"Please also try to save the image."
When saving the program stops responding. (line 12396)
[MobaXterm_Cmd_20180412_220754.txt](https://github.com/asalamon74/pktriggerco

[2018-04-18 12:21] asalamon74 commented on #10
@SM3NSE I've fixed a few bugs. Here is the updated version:
[pktriggercord-0.84.05-win.zip](https://github.com/asalamon74/pktriggercord/files/1923919/pktriggercord-0.84.05-win.zip)

[2018-04-20 09:14] Nats-ji commented on #25
@asalamon74 The timer is working like a charm. But it seems like I'm not able to control the ISO settings.
When I use `pktriggercord-cli -i 100 -t 1 -o test-1 --file_format=dng --debug `, the output file is on ISO1600.
[debug-1.log](https://github.com/asalamon74/pktriggercord/files/1931468/debug-1.log)

And when I use `pktriggercord-cli -i 800 -t 1 -o test-2 --file_format=dng --debug`, the output

[2018-04-22 07:33] asalamon74 commented on #25
@Nats-ji Can you please open a separate issue for the ISO problem? It would be much easier to maintain the issues.

[2018-04-23 05:57] Nats-ji opened #33 "Issue with my K-3II"
It appears to me that I can't set the ISO on my K-3II.
The camera was set in bulb mode. When I used `pktriggercord-cli -i 100 -t 1 -o test-1 --file_format=dng --debug`, the output file was on ISO1600.
[debug-1.log](https://github.com/asalamon74/pktriggercord/files/1936839/debug-1.log)

And when I used `pktriggercord-cli -i 800 -t 1 -o test-2 --file_format=dng --debug`, the output file was still on

[2018-04-24 06:19] tlkw79 commented on #24
Hi,

One of the bugs K-01 has, when in B mode no matter how many seconds we set for the long exposure, it always return in short exposure.

Now I know why it happens. Under the custom functions page 1 No.7, there is a selection named Bulb(B) Mode Options. There are 2 modes in there for us to choose.

1. Mode 1 - Press and hold shutter release button for exposure.Releasing button stops exposure.
2.

[2018-04-24 15:17] asalamon74 commented on #24
@kamayok3

I've fixed similar bugs for newer camera models, hopefully the same solution also works for K-01.

First, I need the output of the following command twice. Once in the Mode1 you described, once in the mode2.

pktriggercord-cli --settings_hex --debug

[2018-04-25 07:50] asalamon74 commented on #33
It is strange, because after changing the ISO the status buffer shows the new value.

What happens if you try to specify an ISO interval using -i 800-1600? Or even -i 800-800

[2018-04-25 12:37] tlkw79 commented on #24
Hi,

Below are the result that you need.

**This is with Mode 1:**

C:\Users\Tommy Lim KW\Desktop\pktriggercord-0.84.04-win>pktriggercord-cli --settings_hex --debug
Debug messaging is now enabled.
pktriggercord-cli 0.84.04
model (null)
device (null)
[C]     plsr_init()
driveNum:24
        Checking drive:  C
        Checking drive:  D PENTAX DSC_K-01
        Found camera PENTAX DSC_K-01
before conn

[2018-04-25 12:38] tlkw79 commented on #24
Because the list is too longggggg.....so, I removed a part of it. Hope this help.

[2018-04-26 09:39] asalamon74 commented on #24
@kamayok3 Thanks, that looks good. I attach a test version:
[pktriggercord-0.84.05-win.zip](https://github.com/asalamon74/pktriggercord/files/1950557/pktriggercord-0.84.05-win.zip)

Please execute the following command:

`pktriggercord-cli --settings`

bulb mode should print press-hold or press-press based on your mode1/mode2 selection.

If that's ok, the next step will be the following:

The solu

[2018-04-27 03:51] tlkw79 commented on #24
Hi,

in Mode 1:

[code]

in Mode 2:

[code]

Sadly in K-01 doesn't have interval bulb timer option.

So, any other idea?

Regards,
Tom

[2018-05-01 07:39] asalamon74 commented on #24
@kamayok3 bulb mode reading works correctly.

K-3II has no interval bulb timer option, but it has astrotracer timing, which also works.

If K-01 has no interval bulb timer and no astrotracer then I'm afraid we cannot fix K-01 bulb mode.

[2018-05-04 09:42] SM3NSE commented on #10
Bulb wait thing is now gone.

"After you take the first image the program should show a thumbnail and a bigger preview."
It shows a thumbnail and bigger preview now.
"If you try a second image, it should show two thumbails..."
Now only thumbnail/preview from first shot is shown. Saved image is last exposure though.
"Please also try to save the image."
Saving works, bur files don't get suffix accor

[2018-05-16 17:51] ti59 commented on #10
I own a K-1 as well and would like to help. Just downloaded the latest zip from this thread and tried it under windows.
Good news: It recognizes the camera right away and even the Sigma 80/1.4 I´ve put on it.
With the GUI I´m actually able to crash the camera firmware (1.43, yes, latest version) up to the point that I have to take out the battery to restart it.(!)
What I have done to achieve that:

[2018-05-17 06:17] SM3NSE commented on #10
This sounds good:
https://pentaxrumors.com/2018/05/15/four-software-development-kits-to-be-released-for-the-remote-operation-of-pentax-dslr-cameras-via-smartphones-or-personal-computers/

[2018-05-17 09:39] SM3NSE commented on #10
https://api.ricoh/products/camera-sdk/

[2018-05-17 09:54] ti59 commented on #10
Just downloaded it. Looks pretty good.
No support for APS-C cameras though as I understand it.
I don´t have the camera with me at the moment.
Will try the examples tomorrow or over the long weekend.

[2018-05-17 11:02] asalamon74 commented on #10
@SM3NSE

I've modified the code, now it adds the extension automatically.

Focus: The log shows no error, probably the camera just ignores the command.

Second image not shown: Can you send the debug log for the following process (GUI): Take the first shot, Take the second shot. Do not change anything in between, do not delete the image...

[pktriggercord-0.84.05-win.zip](https://github.com/asalam

[2018-05-17 11:06] asalamon74 commented on #10
@ti59

I've fixed the double unknown option bug.

Servermode is not supported in Windows. I've modified the program, now it will print out an error message instead of the general unknown option message.

Yes, sometimes it's possible to freeze the camera, removing the battery solves the problem.

As you see, K-1 is not fully working, if you send debug log (using the latest zip I've just attached) I

[2018-05-17 11:07] asalamon74 commented on #10
@SM3NSE @ti59 The API looks promising, I'll check it. I think, this issue is not the best place to discuss it.

[2018-05-19 17:50] ti59 commented on #10
@ ASALOMAN:

I´ve got myself a log by invoking pktriggercord --debug 2>status.log and pushing "Take picture"
 twice.

The result:
[status.log](https://github.com/asalamon74/pktriggercord/files/2019703/status.log)

That´s okay for you? Or do you want something else?

[2018-05-24 17:55] asalamon74 commented on #10
@ti59 Could you see the thumbnail or the preview?

The log looks quite strange. After taking the second image the buffer mask only shows 1 image. What if you first turn on the camera and connect it to the PC only later. Does it help?

K-70 has a similar limitation, I've created a workaround for that model, but it's not too good, because you have to delete the image before you take the next one. I'

[2018-05-25 08:05] ti59 commented on #10
@ti59 Could you see the thumbnail or the preview?

Nope. Nothing. No preview.

To prevent an unnecessarily long log I connected the camera, then switched it on and then started the software.

The log looks quite strange. After taking the second image the buffer mask only shows 1 image. What if you first turn on the camera and connect it to the PC only later. Does it help?

Will try over the weeken

[2018-05-26 17:36] ti59 commented on #10
OK, as requested by mail I´ve switched on the camera first and then connected USB. The result ist different.
I get the first shot as a preview. Nothing on the harddisc though. After that the content of the window doesn´t change anymore.
That means the second to fourth shot are not shown in the window.
The log:
[status.log](https://github.com/asalamon74/pktriggercord/files/2041833/status.log)

[2018-05-27 06:19] asalamon74 commented on #10
@ti59 It seems to me if you turn on the camera first, K-1 works quite like K-70. I'm working on some workaround to better support K-70, hopefully it will also work for K-1. Unfortunately it will be quite limited, since we need to delete the first image before taking the second...

If you'd like to use it for focus stacking I suggest to use the command line version, it's much better for that. It's

[2018-05-27 16:05] ti59 commented on #10
If one could use the 33 focus areas and change them programmatically that would be sufficient.

Also of course the camera can change focus obviously. Could be an interesting quest to dig into the firmware to make it happen.:)

[2018-05-28 11:32] asalamon74 commented on #10
@ti59 Here is our current knowledge about the protocol: http://pktriggercord.melda.info/pentax_scsi_protocol.html

There is no command to focus on a specific distance (that would be the best for focus stacking) but command [18 07] can be used to specify the selected AF point. It works for 11 AF-point cameras using the GUI. You click on an AF point than click on focus and the camera will focus on t

[2018-05-31 17:28] ti59 commented on #10
I´ve taken 5 samples that I named afp0,afp1, afp2,afp3, afp33.

They were taken with the af point manually selected upper left, then the 3 next points, then the lower right point.

[afp0.log](https://github.com/asalamon74/pktriggercord/files/2059342/afp0.log)
[afp1.log](https://github.com/asalamon74/pktriggercord/files/2059343/afp1.log)
[afp2.log](https://github.com/asalamon74/pktriggercord/files/

[2018-06-12 12:32] hatschepsut opened #34 "Support for K-1 II"
Hi Folks,

I have just tested with my Pentax K-1 II.
Any time I try to connect it says: "Unknown Pentax camera. 1 Unknown Pentax camera found."

It does work with my K-3 II, though. Hence I assume it is not a general issue with installation or similar.

Are there any plans to add K-1 II to the supported models?

Kind Regards,

Karsten

[2018-06-14 17:18] asalamon74 commented on #34
K-1 II is not yet supported. If you're ready to test, I can create a test version. What operating system do you use?

[2018-06-16 15:20] asalamon74 commented on #10
@ti59

Status buffer contains the selected_af_point, 5 different value for the 5 points you have selected. I've modified to program to print out the numerical value of the selected af point for K-1 if you use `--status`. So far it looks a simple bit vector so I don't know how does it represent 33 different values.

I've also modified the program. It was possible to specify the af selection mode us

[2018-06-24 10:54] legel commented on #14
@asalamon74 thanks. an update, I'm going to try to get this working "in production" with a Raspberry Pi, no GUI needed.  The use case: the DSLR is attached to a 3 meter tall robotic arm with 6 joints, which is moving around objects that are being scanned by photogrammetric methods.  So, ideally, there is a way to potentially dump the buffer's memory of the photo without needing to wait for USB to

[2018-06-24 11:07] legel commented on #14
PS as I'm spec'ing hardware, and trying to push the investment already made in the K-70 to the max, and prepared to hack on some bytes streams or whatever, if there are any ideas with respect to e.g. faster USB transfer to a Raspberry Pi, ideas with respect to hacking the K-70 etc., I'd be open to exploring them...

[2018-06-25 15:37] legel commented on #14
FYI I've got the DSLR hooked up with the Raspberry Pi, sending commands, seems to be working...

at least, unless I'm missing something...

when I ran @jmozmoz command:
`./pktriggercord-cli -o test0001 -F 3 --file_format=jpg -q 4 -t 1/100 -i 100 -m M --dangerous -w --debug >log 2>&1
`

I managed to get 3 pictures downloaded to my Pi.  Which is perfect.

By the way, I installed the PKTriggerCord wi

[2018-06-25 17:01] asalamon74 commented on #14
@legel

This project sounds interesting.

It is not possible to save the images to the SD card, the pictures should be downloaded to the computer via USB. Downloading is not too fast. We have already checked it (#9), I'm afraid it's not possible to speed it up.

For most camera models it is possible to take multiple images (not 100, only a limited number) and download them only later one by one. U

[2018-08-19 01:12] maydn commented on #34
I'd also like to see support for the K-1 II, if you need a tester I can try it out. Linux would be preferable, and am happy to compile myself if needed.

[2018-08-19 11:10] asalamon74 commented on #34
Thanks @maydn for testing K-1II. I've added support for K-1 II, basically I just assume that it works like K-1 (which still has limitatations). If you checkout the latest code from git, you can compile it.

You can find a documentation about the basic testing here: [http://pktriggercord.melda.info/debug.html](http://pktriggercord.melda.info/debug.html). Just start reading the status info and pleas

[2018-08-19 11:46] maydn commented on #34
Yeah the K-1 II uses the same mainboard (and is basically the same camera with an IAU chip added).

It's being picked up straight away with the new build, here's the full debug output: https://gist.github.com/maydn/08bf0f79013b1fb42dd9861cb39b985a

[2018-08-19 13:17] maydn commented on #34
I've been doing a bit of testing with functions that work and trying to compare to the K-1 issue thread to see what is currently working and what is not.

So far, ISO, aperture, shutter speed (on manual mode) and quality all seem to work as expected.

Debug output for command:
`pktriggercord-cli -o test.dng --file_format=dng --debug`
https://gist.github.com/maydn/2f8eb7d034514fb4b9fc6d046da4aad0

[2018-08-20 16:53] asalamon74 commented on #34
@maydn Bulb mode was under development for K-1, I've commited the same code for K-1 II, if you recompile the program you might try this for K-1 II. It might fix the problem.

[2018-10-23 17:49] #33 closed

[2018-10-23 17:50] Nats-ji commented on #30
I thought the output file written problem was fixed back in February.
Turns out it wasn't that simple. At that time, I tested the program with a manual lens attached, and I got the output file.
However, the time when I opened this issue, I was having an AF lens attached.
Recently I figured out that as long as I have an AF lens attached, I wouldn't get any output file.

[2018-10-23 18:16] Nats-ji opened #35 "K3II can't read output file with AF lens"
This is a followup issue to [Issue with K3II - Writing to standard output](https://github.com/asalamon74/pktriggercord/issues/30).

This problem is that I thought the output file written problem was fixed back in February.
Turns out it wasn't that simple. At that time, I tested the program with a manual lens attached, and I got the output file.
However, at the time when I opened that issue, I was

[2018-12-20 05:34] tempUser99 opened #36 "Support for Samsung GX-1L"
I am looking at a GX-1L and attempting to get it up and running.

What can I do to help out and get support for this unit?

I have tried a few things and found the first issue begins when attempting to `get_drive_info` from `pslr_scsi_linux.c`. It appears lines 138-144 are when the check fails on the GX-1L.

If we are able to pass those lines successfully it does appears the camera with change fro

[2018-12-21 06:52] asalamon74 commented on #35
I don't really see any reason for behaving differently for M and AF lenses. Maybe it's not able recognise the AF lens? You can check it with `--status`. Or maybe it tries to autofucus and that's the problem?

[2018-12-21 07:03] asalamon74 commented on #36
Samsung GX-1L is basically Pentax *ist DL2, but none of them is supported right know.

Adding a new camera requires to add a new line to the [camera_models](https://github.com/asalamon74/pktriggercord/blob/master/pslr_model.c#L935) array in `pslr_model.c`. (Later a camera model specific parser could be also very useful).

I would start be copying the `*ist D` line and replace the name and the id.

[2018-12-21 19:54] tempUser99 commented on #36
It actually looks like the GX-1L has been added to [camera_models](https://github.com/asalamon74/pktriggercord/blob/master/pslr_model.c#L935).

Unfortunately right now I am seeing issues right at the beginning of the calls. I am attempting to diagnose the issue some but it does not appear to be responding to SCSI calls at all. When testing the response is consistently blank.

Any other thoughts on

[2018-12-22 02:52] tempUser99 commented on #36
Does the following output help determine anything? I am unsure exactly what calls are made.

pi@raspberrypi:~/Desktop/pktriggercord_PS $ sudo ./pktriggercord-cli --debug
Debug messaging is now enabled.
command line:
./pktriggercord-cli --debug
./pktriggercord-cli 0.84.05
model (null)
device (null)
[C]	plsr_init()
driveNum:27
	Checking drive:  sg0 Samsung
 Digital Camera

Found camera Samsung
 Digi

[2018-12-22 07:09] asalamon74 commented on #36
Yes, I missed the GX-1L line. I've checked my e-mails,we tried to add support in 2015, but it was not working.

Your log shows that the camera is recognized, it's even possible to read some info (like firmware version).

Instead of taking a picture, let's start with status reading. What is the debug output of the following command:

`pktriggercord-cli --statux_hex --debug`

[2018-12-22 16:48] tempUser99 commented on #36
Below is what we have when running `pktriggercord-cli --status_hex --debug`. (You meant status not statux correct?)

pi@raspberrypi:~/Desktop/pktriggercord_PS $ sudo ./pktriggercord-cli --status_hex --debug
Debug messaging is now enabled.
command line:
./pktriggercord-cli --status_hex --debug
./pktriggercord-cli 0.84.05
model (null)
device (null)
[C]	plsr_init()
driveNum:27
Checking drive:  sg0 Sa

[2018-12-22 16:54] tempUser99 commented on #36
Note: When running both `sudo ./pktriggercord-cli --debug` and `pktriggercord-cli --status_hex --debug` the top LCD on the camera changes from `Pc` to information that is usually there when not connected to USB like is ready to take a picture. In fact, after running either of those commands above the camera can take pictures as if it were not connected to USB. Usually when the LCD on the top of th

[2018-12-27 15:41] tempUser99 commented on #36
I am going down this path a little further and looking into when we are getting an `[R]	=> ERROR: 0x00` response at one point. I am feeling like that might be the time when the camera appears to seemingly switch over to the second mode where it is able to take a picture.

Do you think that is the right direction to investigate?

[2019-01-01 12:16] asalamon74 commented on #36
@tempUser99 A few tips:

- The program stuck at settings reading. Since this camera model does not have a settings parser, you might comment out the line ( https://github.com/asalamon74/pktriggercord/blob/master/pktriggercord-cli.c#L998 ) because settings info is not that import. Quite likely the program will stuck at a later step, but it's worth trying.

- Yes it's possible that terminating the c

[2019-01-04 17:31] tempUser99 commented on #36
We are indeed getting somewhere now. Although nothing is happening on the camera at least the camera does stay in `Pc` mode. Below is the output I get after commenting out the line you suggest (998).

[code]

[2019-01-05 08:13] asalamon74 commented on #36
@tempUser99 This one actually looks very good. Then program was able to connect to the camera and read the status buffer. Since status parsing is not implemented yet, the fields are not rcorrectly ecognized.

You can improve it in two ways:

1. Modify the GX-1L line, add buffer size info (264 bytes) and create a parser for this camera. It might be very similar to ipslr_status_parse_istds. Most of

[2019-01-05 15:21] tempUser99 commented on #36
What is the correct procedure to attempt to take the picture without the buffer?

I will see what I can do to create a parser.

[2019-01-05 19:15] asalamon74 commented on #36
The following command should take a single picture and save it:

[code]
The output file format will be most likely a pef for your model. Maybe a dng.

[2019-01-05 19:26] tempUser99 commented on #36
I copied over `ipslr_status_parse_istds` and specified `264` for the GL-1L as you had mentioned. Below is my output when running `pktriggercord-cli -o test.pef --debug`. The output continues to repeat at the end indefinitely so I stop it after a couple seconds.

The camera changes from `Pc` mode to show the regular data on the top LCD this time.

Also interestingly, after running this command a di

[2019-01-18 20:05] tempUser99 commented on #36
@asalamon74 Do you have any updated thoughts based on the last output? I have been making a few modifications to try to test but nothing appears to be helpful.

[2019-01-20 00:15] mccodesurfer opened #37 "K-3II not working in bulb mode"
Is there any chance of fixing this. I'm looking at it but not much a developer but I have a K-3II for testing. There's a number of people in the astrophotography community who really need this feature. (K-3II has built-in astrotracer that can have control in bulb mode which may be confusing things.) thanks.

[2019-01-20 07:35] asalamon74 commented on #36
It seems to me that the shutter command (this command tells the camera to take a picture) is unrecognised, and gives and error:

[code]

This command is the same for all the camera models, so I don't really think we need to change this part of the code. Maybe the camera initialization code should be different. You may try to change the code, but this is only a trial and error approach.

For some c

[2019-01-20 07:41] asalamon74 commented on #37
What version of the program have you tried? This issue has been already fixed in the latest development version, please check this thread: #25

The fix uses the build-in astrotracer.

[2019-01-20 15:50] mccodesurfer commented on #37
I just cloned the latest code, built and ran it - same thing if I svn checkout the latest trunk.

With the camera in bulb mode (astrotracer off) - the shutter operates for a split second. With astrotracer on, it triggers for whatever the astrotracer exposure setting was.

Your link says all this was resolved with astrotracer on, set time, astrotracer off but I don't see that operation.

[2019-01-20 16:13] asalamon74 commented on #37
Can be paste the output of the command you tried to execute (plese also use the `--debug` switch).

[2019-01-20 16:16] mccodesurfer commented on #37
Ok, I tried it again now that I understand your link and I see I have to physically turn on the astrotracer function in the camera and then pktriggercord will "enable/disable" it to set the exposure. So this worked.

I guess there is no problem of the camera trying to actually track the stars since its off for the exposure. The K-3II operation is a bit convoluted. For people with tracking mounts,

[2019-01-20 16:32] asalamon74 commented on #37
The "old" bulb command is not working on newer cameras. Interval bulb timer can be used in K-70 (and in a few other models), but K-3II has no interval bulb timer. The similar astrotracer feature is used in this case. Probably it's not a perfect solution, but this is the best working.

I didn't know that you had to physically turn it on in the camera. The whole idea was to turn it on before exposur

[2019-01-20 16:42] mccodesurfer commented on #37
Yeah, the astrotracer function has a two stage on/off control :-s  Anyway your solution seems to be working well. I'll advise the photo2 guys of your upcoming release. Thanks!

[2019-01-21 00:14] tempUser99 commented on #36
I managed to get what looks like the only available copy of 1.02 firmware and I upgraded. Now this is all I see when running:

`sudo ./pktriggercord-cli --status_hex --debug`

[code]

I am working on getting passed this point, any thoughts?

[2019-01-27 18:21] asalamon74 commented on #37
I released v0.85.00

Closing this issue as a duplicate of #25

[2019-01-27 18:21] #37 closed

[2019-02-01 18:58] asalamon74 commented on #36
That is quite strange. After printing the `driveNum` the program reads info from the `/sys/class/scsi_generics` or `/sys/block` directory, and prints out the `Checking drive...` text which is missing from your output. This should be in the log, because it is printed before we start the real communication. When we check the drives, we might check lots of other devices, some of them are not even cam

[2019-02-04 22:36] mccodesurfer opened #38 "make fails - sg.h not found"
Hi, There seems to be a missing file in the repository. make fails with "scsi/sg.h not found" after cloning the repo and running make on a Mac.

[2019-02-05 07:07] asalamon74 commented on #38
There is no [SCSI Generic](http://www.tldp.org/HOWTO/SCSI-Generic-HOWTO/) driver for Mac, that's why you get this error message.

And this is the reason why Mac is not supported.

[2019-02-05 09:38] mccodesurfer commented on #38
That was my understanding but a guy supporting Kstars on the Mac said he had Gphoto2 supporting canon on the Mac. I guess they have some sort of USB driver for that. If he or I write that driver, could it be included with pktriggercord ?

Sent from Greg's iPhone

[2019-02-05 19:41] asalamon74 commented on #38
Maybe they are using some different kind of protocol. Can you share a link to the USB driver you are referring to.

[2019-02-05 22:37] mccodesurfer commented on #38
I really don’t know much here. @rlancaste of indilib is going to going to look into it. He’s the expert. He may have something.

I’ve found some objective C code for USB access that I thought I could make a library out of, and provide a dylib. I’ve been able to access my Pentax K-5II with it but it would need some “scsi"_read/write functions to be written around it.

[2019-02-05 23:47] rlancaste commented on #38
Yes, the INDI GPhoto driver is built on libgphoto2.  This library builds on Linux, Mac, and even Windows.  So we are able to provide INDI support on Macs and Linux for Canon, Nikon, and any other cameras that libgphoto2 supports.  My understanding is that the library talks directly to the camera to instruct it to take exposures and that the issue with Pentax is that it doesn't include the ability

[2019-02-05 23:50] rlancaste commented on #38
Does PKTrigger Cord completely control via USB?

[2019-02-05 23:54] rlancaste commented on #38
So I am guessing that PKTriggerCord uses a different type of connection to the camera than libgphoto2?

[2019-02-06 18:42] asalamon74 commented on #38
It seems that modifying the [bsd](https://github.com/asalamon74/pktriggercord/blob/master/pslr_scsi_openbsd.c) port of the program is more promising. With a simple hack I was able to compile it on a Mac. It still has lots of warnings and need testing. I'll investigate it soon.

[2019-02-06 23:54] mccodesurfer commented on #38
If you think you can gain access to the Mac USB then I'll hold off making a dylib. Let me know as soon as you can. We may incorporate pktriggercord directly into Kstars and bypass gphoto2 for Pentax.

[2019-02-07 12:43] Blueshawk commented on #38
I don't have a Mac but maybe I can help explain the state of things. The way the indi_pentax driver works is ekos>>indi>>libgphoto>>pktriggercord. The indi driver wraps to libgphoto which is in turn wrapping to PkTriggercord for calls to the camera using "MSC" (usb:scsi) through the usb port to the camera instead of the PTP used by the other brands.
Cheers,
Ray

[2019-02-07 14:38] rlancaste commented on #38
Ok, does libgphoto2 run pktriggercord as a separate program where it executes commands or does it use it as a library with functions that libgphoto2 calls?

[2019-02-07 17:19] asalamon74 commented on #38
They import the source code of pktriggercord, you can find it here: https://github.com/gphoto/libgphoto2/tree/master/camlibs/pentax

They sync the source code sometimes. Occasionally there ask for changes in pktriggercord to make it easiere to import it, but it's quite rate. For instance: #22

[2019-02-07 19:55] Blueshawk commented on #38
ack..sorry! I forgot to send this. Went looking for the link and got busy.

Yeah it's library calls, and the rest of the program function is similar to other brands represented. If I remember right some output that would come to screen has been parsed out, but it's not a scripted call like you might do in bash. Gphoto is modular so you can see the Pentax code pretty easily.

[2019-02-07 21:06] rlancaste commented on #38
Ok I got it, so the pktriggercord code in libgphoto2 just goes into one of the camlibs in the camlibs folder.  You don't have to launch a separate program that gets called.  Thank you for the clarification.

[2019-02-08 00:09] mccodesurfer commented on #38
Thanks @asalamon74 . I looked at the camlibs/pentax folder and it doesn't include USB/SCSI driver so gphoto2 guys must provide one, which makes me wonder why its not working on the Mac, unless they also use a generic scsi driver. I'll see if I can find it but so far its looking like I'll have to write one.

[2019-02-08 08:47] asalamon74 commented on #36
I've added more debug messages to the code. @tempUser99 can you please try it again.

[2019-02-11 07:10] asalamon74 commented on #38
I created a hack to compile for Mac OS X. The macosx branch contains it: https://github.com/asalamon74/pktriggercord/tree/macosx

Basically I tried to use the BSD port of the program. Since `scsiio.h` was missing I copied the file from BSD. It is possible to compile the program. GTK is a bit tricky so it's better to compile it using `make cli`.

When I connect my camera (K-x) the system recognized

[2019-02-11 14:11] mccodesurfer commented on #38
That’s excellent! I have written the ioctl part. I was just trying to test it. Seems to be working but your Mac build will help a lot. Now I can try sending actual camera commands. I copied the scsiio.h also but I think in the end I won’t need it. Question though. My stuff is written in objective C. Can I add it to pk and compile? How to compile with C ?

[2019-02-11 15:42] mccodesurfer commented on #38
Cause I’m using the Xcode environment. Will gcc recognize objective C?

[2019-02-11 18:18] rlancaste commented on #38
You could do this in terminal on OS X, it worked fine for me in an experiment:

mkdir ~/Desktop/test
cd ~/Desktop/test
git clone https://github.com/asalamon74/pktriggercord.git
cd pktriggercord
git checkout macosx
make cli

[2019-02-11 18:35] asalamon74 commented on #38
@mccodesurfer Please only use C, not objective C. Gcc might recognize objective C, but we need to compile pktriggercord on different platforms, so the best is to use only ANSI C.

[2019-02-11 18:48] mccodesurfer commented on #38
May have to provide a library then because the code is not written from scratch. Uses macOS frameworks and libraries. The way I understand it. I just have to put the dylib file in the /usr/local/lib but not sure how to link it in the make file

[2019-02-12 20:10] asalamon74 commented on #38
@mccodesurfer If you provide a library then the language of the library is not that important, only the few calls should be written in C.

Just hack together something with using the -I -L -l switches (-I for the directory containing the headers, -L for the directory containing the lib, -l for the library linking) and I try to clean it later.

[2019-02-13 19:38] mccodesurfer commented on #38
Ok. Will do. It may take a week or two. I’m not on it as much as I’d like.

[2019-02-23 18:36] mccodesurfer commented on #38
@asalamon74 I am close with this macOS driver - getting status from camera failing on commands- I haven't been able to relate your USB description "pentax_scsi_protocol.md" to this doc: https://www.beyondlogic.org/usbnutshell/usb6.shtml#SetupPacket

In particular, the pslr_init sets up ioctl for BSD. I have a similar ioctl that uses the setupPacket structure. Your cmd structure is similar (I guess

[2019-02-23 18:37] mccodesurfer commented on #38
Any advice would be great. Thanks

[2019-02-24 10:03] asalamon74 commented on #38
@mccodesurfer

[pentax_scsi_protocol.md](https://github.com/asalamon74/pktriggercord/blob/master/pentax_scsi_protocol.md) describes a higher level protocol. It describes the byte arrays we send to the camera, the bytes array read from the camera. Probably you don't really need this.

The low level interfaces define `scsi_read` and `scsi_write` methods to send/receive data.

The `pslr_init` tries t

[2019-02-24 12:34] mccodesurfer commented on #38
Yes, I'm trying to emulate the low level SCSI_read, SCSI_write that call ioctl (in bsd version). In particular, I replace ioctl - this seems to be where the rubber meets the road - with some macOS interfaces. One called "DeviceRequest" use is very similar to ioctl; build a USB byte stream structure with USB byte codes (per the link I gave you) and call DeviceRequest on the structure.

From what yo

[2019-02-24 17:54] mccodesurfer commented on #38
I decided to shift the interface with Wireshark on a pc and see that indeed there is 30 bytes or so preamble to the pentax command codes... still working on it!

[2019-02-24 18:59] tempUser99 commented on #36
I finally was able to get connected again and ran a test with the new debug messages you added. See attached below.

[code]

[2019-02-24 19:02] tempUser99 commented on #36
Additionally when attempting to run `sudo ./pktriggercord-cli -o test.pef --debug` the following is the output.

[code]

[2019-02-24 19:45] mccodesurfer commented on #38
Got Wireshark on Mac now. Looks like I have to make "interface" transactions, which I had working a while ago but its not working right now. Anyway, just letting you know the status.

[2019-02-25 03:32] rlancaste commented on #38
Good to see you are making progress!  I’m wondering if you have given any thought yet as to whether we want to get the code for controlling this into libgphoto or whether we want to make a new INDI driver for pentax entirely ?  Obviously the library you are writing could work either way, but I’m just trying to plan ahead for when you finish.  Personally I think the best route due to encapsulation

[2019-02-25 12:42] mccodesurfer commented on #38
Thanks Rob! I like the idea of a Pentax driver. Its been almost a year and I don't believe GPhoto2 has yet been updated with some significant fixes in pktethercord. For the future, Pentax has finally come out with an SDK for their cameras but only support releases from the first k-1 and later. But future ports from their SDK could be truly full featured.

[2019-02-27 19:02] asalamon74 commented on #36
@tempUser99 The strange error of printing out only the driveNum disappeared, right now it's possible to connect to the camera again.

Unfortunately I don't see too much difference in the logs. Status buffer reading works, taking a picture gives the same `ERROR: 0x82` error.

[2019-02-28 22:21] tempUser99 commented on #36
I ran a few more tests, without changing anything to try to better understand what is happening.
Output appears to be the same for ```sudo ./pktriggercord-cli --status_hex --debug``` but for ```
sudo ./pktriggercord-cli -o test.pef --debug``` it appears to be looping differently.

```0x82``` appears to mean that the camera is rejecting the command but at least it is responding to something.

[code

[2019-04-01 09:59] tempelmann commented on #38
Any news on this project? It's not clear to me whether there's so far an actual working Mac version of pktriggercord.

I tried [rlancaste's instructions](https://github.com/asalamon74/pktriggercord/issues/38#issuecomment-462435519), but when I run it with sudo, I only keep getting a "Resource busy" message.

I also wonder if [SIP](https://en.wikipedia.org/wiki/System_Integrity_Protection) has to b

[2019-04-01 10:51] rlancaste commented on #38
Which command gives "resource busy"

[2019-04-01 10:58] mccodesurfer commented on #38
I'm still working on it...slowly. Ran into a roadblock on the USB access and got some help on Codementor. The guy steered me in a new direction using new high level Apple API for camera access and control, which looks really easy to use but I'm just getting going on it. It seems to be undocumented - very new I guess.

[2019-04-01 11:07] tempelmann commented on #38
@rlancaste I get this error when I invoke the cmd without arguments.

@mccodesurfer Typical for Apple these days. They can't keep up any more. But that API sounds like it won't use SCSI cmds, so are you sure you're not going in the wrong direction there? Or are you implementing a "driver" for that new API?

I'm still investigating the "macosx" branch. Am currently getting the project to run in Xco

[2019-04-01 13:09] tempelmann commented on #38
Here's what I've found out so far:

this:
`fd = open(deviceName, O_RDWR);`
fails always (10.13.6) with error "Device busy".

Changing it to
`fd = open(deviceName, O_RDWR | O_SHLOCK);`
makes it work.

However, the next call fails again:
`ioctl(fd, SCIOCCOMMAND, &screq)`
It gives "Inappropriate ioctl for device" as the error msg.

@rlancaste On which macOS version did you test this? And where is `_I

[2019-04-01 21:20] mccodesurfer commented on #38
@tempelmann It looks like the API will give access to low level commands that will allow me to tunnel the camera commands through the USB interface. So its experimental.

[2019-04-02 00:55] rlancaste commented on #38
So just to be clear.  I just test compiled the code.  I cannot actually test the code because I don't have a compatible camera.  Originally the code would not compile, so I was just verifying that it could be compiled.

[2019-04-02 06:38] tempelmann commented on #38
@rlancaste Oh, bummer then. That means my assessment is correct. Gotta hope @mccodesurfer can get something working, then. Good luck!

[2019-04-10 07:41] ghost commented on #10
I can't see thumbnail or the preview . (shooting and focusing on k-1  no broblem)

pktriggercord run on terminal, and click Focus or take picture.

$ pktriggercord

pslr.c:954:ipslr_next_segment(p) failed: 3
Could not get buffer data

I use mint 19, and installed use apt install pktriggercord bia ppa:dhor/myway.

[2019-04-10 17:15] asalamon74 commented on #10
@LibertSin What version of the program do you use? If you want to test K-1 support I suggest using the latest version (0.85.00).

[2019-04-22 10:14] asalamon74 commented on #34
Anyone here with a K-1 II who is ready to test the latest version (0.85.00)? I'm specially interested in the bulb mode, but any other info would be useful.

[2019-05-14 00:28] mccodesurfer commented on #38
Well, I'm sorry guys but I've given up on the trying to port to the Mac. It seems every turn ends up a dead end with lack of information. I'm not prepared to put any more time into it. I think the fact that the Pentax is supported on linux is something I can live with. Since Pentax has released new software dev tools, maybe there will be another solution soon.

[2019-06-24 16:02] krish1988 opened #41 "pentax k-3ii issue not connect win 10"
hi sir i have pentax k-3ii camera i try to connect to my windows 10 laptop but it dose not connect
tell if i want install any other drivers ?
thnak you for your replay

[2019-06-29 06:19] asalamon74 commented on #41
No need for additional drivers.

Can you please copy the output of the following command:

[code]

[2019-08-17 09:05] andyboeh commented on #36
Did you ever proceed in getting this to work?
I found my old *istDL2 and I'm trying to get it to connect - I added the model info before I found out that it is similar to the GX-1L and I'm experiencing the very same behavior! Mine is also on Firmware 1.02.

[2019-08-17 09:49] asalamon74 commented on #36
No update on this issue.

*istDL2 is basically the same as GX-1L, so they should behave similarly.

[2019-08-17 13:46] andyboeh commented on #36
OK - so I did som research: I tried the new Pentax SCSI protocol instead of the old one and - the shutter fires. Now I need to figure out how to transfer an image, this still doesn't work.

For now, it reports the following:

[code]
and this repeats until pslr_disconnect() is called.

The entry in pslr_model.c now looks like the following:

[code]

[2019-08-17 15:39] andyboeh commented on #36
Actually, my settings are similar to the K110D. I couldn't find any references as to why the K110D doesn't work, only that it's not working. Do you know more?

[2019-08-26 11:18] asalamon74 commented on #36
@andyboeh I don't remember the exact problem with K110D.

Maybe you could try to change 'bufmask_command' to 'true'.

[2019-09-16 18:28] SM3NSE commented on #10
Hello. I'm back.
Is there anyone working on this anymore?

[2019-09-23 08:39] asalamon74 commented on #10
@SM3NSE Not much progress lately. In the meantime 0.85.00 was released, so it's possible to test that version, no need for downloading special devel versions.

[2019-10-16 01:41] ojalexander opened #42 "Problem setting ISO, shutter speed and aperture on K1"
I'm having an issue setting the ISO. The fixed iso value updates and reflects the ISO parameter on the command line but the current iso does not change. It remains set to whatever the camera was last set to using the physical interface.

Setting the aperture and shutter speed works more consistently. I've only had a couple of issues where one or the other did not show up as the current values.

Ve

[2019-10-16 01:46] ojalexander commented on #42
[debug_output.txt](https://github.com/asalamon74/pktriggercord/files/3732086/debug_output.txt)

[2019-10-17 18:07] asalamon74 commented on #42
Thanks for the detailed bugreport @ojalexander

This part of the code is not model-specific, changing the ISO should work the same way for all the models. Unfortunately it also means that I don't really have an idea how to fix the bug.

I do own a Pentax K-x, probably that's one of the best supported model, and changing ISO was not possible in manual mode for that model, I couldn't fix this bug. W

[2020-03-08 02:08] chrisabbott opened #44 "Changing settings manually while camera is connected?"
Hey, apologies if this isn't the right place for this question. I'm currently running Pktriggercord on a Raspberry Pi, which is connected to my K-1, to save each buffer to disk whenever I fire the shutter. I've managed to write a script that uses `camera_connect` to save each buffer to disk whenever I take a photo, and this works fairly well (as long as I reinitialize the connection after each sho

[2020-03-13 11:28] asalamon74 commented on #44
Yes, this is the right place.

Are you referring to this function: https://github.com/asalamon74/pktriggercord/blob/master/pktriggercord-servermode.c#L54? Servermode is designed to listen on a port a wait for commands like `set_shutter_speed`. Are you using this? It should automatically recognize if you change something manually on the camera, but probably you have to use "update_status" before ta

[2020-04-07 18:35] FrankBijnen opened #46 "Make pktriggercord-cli compile on Windows using RAD Studio 10.3"
The subject says it all

[2020-04-19 11:39] asalamon74 commented on #46
Fix is merged.

[2020-04-19 11:39] #46 closed

[2020-04-26 12:19] asalamon74 opened #49 "libpktriggercord"
A pktriggercord libary could make it easier to include pktriggercord into other programs.
This is mentioned here: https://github.com/indilib/indi-3rdparty/pull/66
and the first version of thelibrary was uploaded by @karlrees in #48

[2020-04-26 12:22] asalamon74 commented on #49
I'll create a new branch for this development: https://github.com/asalamon74/pktriggercord/tree/libpktriggercord we can freely commit there, at the very end I just squash the commits to the master branch.

So far I added the commit (I had to rebase it) uploaded in #48 and also added commits ( https://github.com/karlrees/pktriggercord/pull/1 ) by@blemasle .

[2020-04-26 12:26] asalamon74 commented on #49
About the packaging question: Probably the real nice solution would be to create a libpktriggercord package and a separate pktriggercord package, the latter should require the first. So if someone want's to use it only as a library, no need the install both packages.

On the other hand it would make more difficult to install the downloaded rpms, so for now I think we can just use one single packag

[2020-04-26 12:32] asalamon74 commented on #49
@karlrees @blemasle Added you as collaborators, please only modify the libpktriggercord branch.

[2020-04-26 12:33] asalamon74 commented on #49
Right now windows cross-compilation does not work, this is also reported by travis: https://travis-ci.org/github/asalamon74/pktriggercord/builds/679689138

[2020-04-26 15:13] karlrees commented on #49
I agree that that it would probably be best in the long run to separate the packages.  It'll probably take a while to get there, though.

Not sure how much time I'll have in the immediate future to contribute, but I'm happy to provide input.  I may have some time later next month to actually code.

[2020-04-26 22:17] blemasle commented on #49
Great news !
I never got compilation to fully work on any of my machines, all of which are running debians or debians under wsl. I always get segfaults on the directives generated from

[code]

Segmentation fault
Segmentation fault
Segmentation fault
Segmentation fault
Segmentation fault
Segmentation fault

Just tried under Ubuntu 20.04 LTS, same issue. I never face this when running `make win-lib

[2020-04-27 20:54] blemasle commented on #49
Finally got the whole thing to compile and run under a Xenial VM. Using any distro more recent than that just crash with a segfault. For the moment, I just fixed the windows compilation and nothing else.

We should start to move code around so that both the cli and the gui use code defined within the lib, even if the "lib" is a simple .c file at first. At the moment some functions extracted from t

[2020-04-27 21:15] karlrees commented on #49
I'm fine with that.  I figure once we get the library standardized, I'd update the INDI driver to whatever API we decide upon anyway.

I was thinking we should put this all in a separate namespace, but then I remembered it's C instead of C++.  So we should probably append all of the exposed functions with a unique prefix to avoid conflicts with other libraries.  Maybe pk_?

[2020-04-28 20:52] blemasle commented on #49
The current code base already use `pslr_` all over the place to define enums and typedefs that we will also need to expose at some point. I think we should reuse that prefix if we can.

It will also make the code easier to port to the "new" library for those that currently use a forked version of this repo (eg Gphotos), because renaming will be limited.

There is also a recurring `ipslr_` prefix o

[2020-05-02 12:14] asalamon74 commented on #49
`ipslr_` prefix is for the low level internal funcions, mostly dealing with the [SCSI protocol](https://github.com/asalamon74/pktriggercord/blob/master/pentax_scsi_protocol.md). `pslr` is for the higher level function. For instance `pslr_set_raw_format` can be used to set the RAW format, and it will call `ipslr_handle_command_x18` which will the x18 SCSI command with the appropriate parameters.

P

[2020-05-02 12:19] asalamon74 commented on #49
Unfortunately we have two `save_buffer` functions, one for the cli and one for the UI. They are very similar but not exactly the same. I always wanted to merge them but I had no time for that.

[2020-05-02 14:25] blemasle commented on #49
Great ! Thanks for all the info.

FYI, I'm currently working on making a static libpktriggercord static lib that the cli reuses. This involves some changes and reorganization in the Makefile and as it's probably breaking the build I won't push it for the moment.

[2020-05-02 21:36] blemasle commented on #49
If things break, I'll try to fix it along the way.
Made progress today 😄

### libpktriggercord.a
All .c/.h "core" files now build to a static library

### libpktriggercord.so / libpktriggercord.dll

The shared library is built from `libpktriggercord.a` static library. Some macros have been defined to restrain what gets exposed.
`__declspec(dllexport)` on windows seems to only have an impact once a

[2020-05-03 08:32] asalamon74 commented on #49
Originally I created the cross-compilation (`make win`) to use my local MINGW32, later (mostly for travis) `make localwin` was created, which basically downloaded migw32 and used it for compilation. It was of course redundant, using `ARCH` is a much neater idea.

Building both platforms at the same time is not important, I never trusted the build system that much anyway.

I modified the Makefile a

[2020-05-04 11:26] blemasle commented on #49
I hesitated to do so, but didn't because I wanted to limit conditionnal code. Ideally we should use a configure (or even better, CMake as @karlrees [has already done](https://github.com/indilib/indi-3rdparty/blob/master/libpktriggercord/CMakeLists.txt) all the hard work ?) to make cross platform and dependencies easier 😃 But one thing at a time.

Maybe they could be downloaded at build time in the

[2020-05-09 11:05] asalamon74 commented on #49
Yes, there are quite a few tools (configure, cmake, ...) for this purpose, but a simple (?) Makefile is working right now, and it's really portable.

Probably downloading the dlls are better, I'll check it.

[2020-05-20 18:55] rbnvrw opened #50 "Not working with K10D on Linux"
I have compiled the package manually on ubuntu (make, sudo make install).
When I connect my K10D via USB, I see "PC" on the camera.

When I start pktriggercord from CLI, I get the interface, but it doesn't connect to the camera.
I get the following error message on stderr:
`pslr.c:435:ipslr_status_full(p, &p->status) failed: 4`

Please let me know if you need anything more to debug this issue.

[2020-05-20 18:59] rbnvrw commented on #50
This is the output with `--debug`:

[code]

[2020-05-20 19:08] rbnvrw commented on #50
Apologies - after upgrading the firmware from 1.00 to 1.31 it works!

[2020-05-20 19:08] #50 closed

[2020-05-25 20:51] blemasle commented on #49
I just pushed a bunch of renaming we've talked about. This renaming mostly concern symbols that will most likely be exported; For reference, here there are.

Member|Renamed to
------|----------------------------------------
camera_close|pslr_camera_close
camera_connect|pslr_camera_connect
collect_settings_info|pslr_get_settings_info
collect_status_info|pslr_get_status_info
copyright|pslr_copyright

[2020-05-26 17:58] karlrees commented on #49
Awesome.  Wish I had some time to test things.   As for the cmake discussion, I was only getting cmake to compile my version of the library on linux, I never really got it doing anything else.

[2020-05-27 09:19] samwhite59 opened #51 "K3 Shutter Speed Issue - Firmware 1.40"
I'm trying PKtriggercord for the first time with my K3 and running into an issue where the shutter speed can't be set.
Have tried setting different modes on the camera top dial, as well as the GUI and Command Line interface, on Windows 8.1
Camera firmware is the latest, 1.40 - Note this is not a K3-II camera.

GUI always reports the following:
current shutter speed           : 0/0
camera max shutt

[2020-05-27 11:15] asalamon74 commented on #50
No problem, this firmware requirement was found in #23

[2020-05-27 18:53] blemasle commented on #49
I'm currently trying to find the best and most maintainable way to restrict exported symbols, but I'm afraid this would mean a complete recompilation for the .dll. There will no longer be an option to create the .dll from the static lib, because we need different attributes placed on symbols in each case.

The issue would only be for the .dll though, as .so works diffrently and will probably not n

[2020-05-30 07:08] asalamon74 commented on #51
As far as I remember this should work. Things usually work better in the command line version, so I would check that first. Can you send me the output of the following command:

[code]

[2020-06-02 11:24] samwhite59 commented on #51
There's something wrong here-
C:\Program Files (x86)\pktriggercord-0.85.00-win>pktriggercord-cli --statux_hex --debug

pktriggercord-cli: unknown option -- statux_hex

Running as Administrator, Windows 8.1, pkTriggerCord 0.85.00

[2020-06-02 11:26] samwhite59 commented on #51
Just spotted the typo....

C:\Program Files (x86)\pktriggercord-0.85.00-win>pktriggercord-cli --status_hex -debug
pktriggercord-cli: K-3 Connected...
JSON: Cannot find camera model
0x0000 | 02 00 00 00 00 00 00 00  00 02 00 02 01 00 00 80
0x0010 | 00 00 00 00 03 00 00 00  00 00 00 00 03 00 00 00
0x0020 | 0b 00 00 00 00 00 00 00  00 00 00 00 00 00 00 00
0x0030 | 00 01 00 00 00 00 00 00  00 00 00 00

[2020-06-02 21:50] blemasle commented on #49
Only relevant symbols are now exported when building the lib.
⚠️ BUT : Doing so requires recompilation of `.c` files. To keep things easy, compiling the shared lib requires `.ol` files instead of `.o`. This ensures proper files are used for both static and shared lib.

I however noticed that the gui isn't running anymore since I guess b27ca6370 because of missing dlls :
* libpng16-16.dll
* intl.dl

[2020-06-08 14:04] samwhite59 commented on #51
Did that help at all?

[2020-06-13 17:30] lkiersey opened #52 "K30, Software shuts down when switched to BULB mode."
![pk](https://user-images.githubusercontent.com/39994350/84575203-6096ee00-ada3-11ea-9a22-f12bf4007465.PNG)

When I switch my K30 to BULB mode the attached message appears and the SW shuts down, If i try to start up in bulb mode, I get the same issue. Its like it cant determine what mode its in. If I start up in U1 mode I can set it to what ever mode I like except bulb, if I set it to bulb the sam

[2020-06-15 19:32] lkiersey commented on #52
made some progress was able to get it to allow bulb mode by setting plsr_model.c line 981 to
`{ 0x12f52, "K-30",        false, true,  **true,**  false, false, false,`

How ever when I take a picture the shutter fires and closes and then the countdown starts so its like it dosent know to hold the shutter open
it also posts this error
[code]

[2020-06-17 16:17] asalamon74 commented on #51
I added a workaround for the camera max shutter speed field, but it will not really help.

One thing I remembered: some of the newer models prefer if you first turn on the camera and connect to the PC only after that. Could you please try that. And please use `--debug` instead of `-debug`.

[2020-06-23 22:06] blemasle commented on #49
I haven't got much time to work on this on the past few weeks, but things are clearing out right now.

My next step : Moving things around so that the cli/gui can be built against the shared lib. I'm aware it is not what we are looking for in the end. But if it can be done, then libpktriggercord is most certainly approaching the point where it is ready. Trying do to so has already pinpointed some

[2020-06-29 20:18] blemasle commented on #49
Win32 dlls dependency hell is solved once and for all (hopefully) by using the gtk bundle available here :
http://ftp.gnome.org/pub/gnome/binaries/win32/gtk+/2.24/gtk+-bundle_2.24.10-20120208_win32.zip

There is no additional download needed. This ensure that output are compiled against the same source as they are dynamically linked at runtime (the bundle contains src, lib and binary files). With

[2020-07-02 08:04] asalamon74 commented on #52
**Exposure mode reading**

That boolean field was added specially for K-30 because it was the only camera model when the value `false` was required. It's a bit strange that we need to change it to `true`.

Can you please send me the output of the following command (with the original code) when you set the camera to M, Av, B:

[code]
**Bulb mode pictures**

Can you please try to take a picture with

[2020-07-02 08:13] asalamon74 commented on #49
Sorry I had no time for this project in the last moth.

Somehow github commit page does not show the travis checks, but it looks good for this branch: https://travis-ci.org/github/asalamon74/pktriggercord/builds/703299876

Downloading one bundle zip is a much cleaner solution. Great idea.

[2020-07-02 20:42] blemasle commented on #49
No worries, I myself am only dedicated to this when I have some spare time :)
I found the bundle by chance navigating the gnome release tree.

Anyway, it is much simpler indeed, and now you can also be sure that what has been used to build the app is the same code as the packaged dlls 👍

I think we should start to consider a merge to master, before breaking things further. For one, it could provid

[2020-07-04 11:16] lkiersey commented on #52
Attached are the logs you requested, Manual mode finished at 30 seconds and Bulb mode shutter fired for a split second and failed to remain open.
[35secondManual.log](https://github.com/asalamon74/pktriggercord/files/4872736/35secondManual.log)
[Hex_dump.log](https://github.com/asalamon74/pktriggercord/files/4872737/Hex_dump.log)
[35SecondBulb.log](https://github.com/asalamon74/pktriggercord/files

[2020-07-13 03:44] Nats-ji commented on #35
I don't think it was trying to autofocus because the shutter was already released. And I think the lens can be recognized correctly.

Here are the debug logs using the lastest release. `pktriggercord-cli.exe -i 800 -a 10 -t 1/30 --file_format dng -o test.dng --debug > debug.log 2>&1`

[debug_with_AFlens.log](https://github.com/asalamon74/pktriggercord/files/4910490/debug_with_lens.log)
[debug_with

[2020-07-13 22:20] Nats-ji commented on #35
I think I've just found out what exactly causing this issue. It's the `Lens Correction` settings on the camera. Now it's working like a charm. Maybe you should add a footnote in the documentation to let people know they should turn off the `Lens Correction` on their cameras.
However, I can't seem to control the ISO settings. No matter what ISO I set to the output image's ISO is always the ISO set

[2020-07-14 00:28] #35 closed

[2020-07-24 09:03] alxgomz opened #53 "decimal notation of shutter speeds faster than 1/10" don't work"
After I had some weird results a few days ago while shooting the stars in the night, I did some tests using pktriggercord-cli.
I think I have found a problem, unless I'm misunderstanding something (in which please let me know).
It looks to me the the shutter speed do not work properly when using decimal notation if the shutter speed is faster than 0.1 sec

On my Pentax K-r (USER Mode, not using Bu

[2020-07-28 07:51] AlvinFrey opened #54 "Support for 645Z ?"
Hi everyone !

Is there any testing versions that can work with the Pentax 645Z ?

Here is the output that I get when running pktriggercord cli in debug mode :

![image](https://user-images.githubusercontent.com/4179528/88635161-a4298b00-d0b7-11ea-802e-fa843c10afaa.png)

If that's no the case is there any documentation in order to add my own camera model ?

Best regards,
Alvin

[2020-07-29 09:22] blemasle commented on #53
I've personally never been able to use Ekos to shoot something not using Bulb. Very interested in your finding as it could mean that I could also shoot flats and dark-flats with Ekos.

Well, at least once that massive memory leak is solved :(

I'll give it a try on my K5 to see if it's a camera specific issue. But I suspect your issue is a consequence of an already fixed, but not yet released bug.

[2020-07-29 11:54] alxgomz commented on #53
I wish you were right. But unfortunately I have compiled and installed from master branch and get that very same behaviour.

With regards to Ekos I'm just taking my raw lights and darks with it, for flats and offset it's not an option because of this bug (and maybe others further down the road...)

[2020-07-29 12:30] blemasle commented on #53
I've personally even stopped taking lights and darks with ekos because it can't survive the night If I do so. So I use pktriggercord-cli directly with some bash scripts. Trouble is, as soon as I try to use Ekos again after that it crashes and I have to restart the indi server :/

Anyway, that's another story. I'll try to see if I can reproduce the issue with my K5 as soon as possible :)

[2020-08-02 05:57] asalamon74 commented on #53
The camera expects the shutter speed in the format of p/q, hence the program tries to convert the number you enter to this format, but this looks buggy. I'll try to fix it.

[2020-08-02 06:04] asalamon74 commented on #54
There is no documentation for adding a new camera model.

The first step is to add a single line to the models list like this commit: https://github.com/asalamon74/pktriggercord/commit/4cb385c4c718fd80cb95e1737225de59892b1bea

According to the log you're using Windows. If you're ready to test it, I can create a test version for you.

[2020-08-03 15:49] alxgomz commented on #53
Hi @asalamon74 ,
Thanks for taking a look. I checked the pktriggercord-servermode.c (as Ekos seems to uses servermode for its pktriggercord library) as I hoped I could maybe come up with a patch.
However I really don't understand the logic behind https://github.com/asalamon74/pktriggercord/blob/338f2d05185329985003f282c493ad4883219429/pktriggercord-servermode.c#L360-L370

If you have a bit of tie

[2020-08-03 17:39] asalamon74 commented on #53
Oh yes, the code is duplicated in `pktriggercord-cli.c` and in `pktriggercord-servermode.c`.

The code expects a floating-point number (%f). if it's lower then 2 it converts to p/10 format. So 0.4 will be 4/10, 1.2 will be 12/10. Otherwise it just use p/1 format, so 25 will be 25/1. As you already tested this will not work for numbers like 0.04 or numbers like 2.9.

A few lines before that the cod

[2020-08-09 11:54] asalamon74 commented on #54
I created a test version for 645Z:

[pktriggercord-0.85.01-win.zip](https://github.com/asalamon74/pktriggercord/files/5047444/pktriggercord-0.85.01-win.zip)

It should recognize the camera and read the status info. It will not parse the info, first I need same sample. Can you please send the output of the following command:

[code]

[2020-08-10 15:00] AlvinFrey commented on #54
Thanks for all ! Sorry for the last answer !

I'm going to test this tomorrow and I will come back with those datas.

[2020-08-10 20:31] sh0 commented on #52
@lkiersey can you test pull request #61 and see if it helps you?

[2020-08-11 07:43] AlvinFrey commented on #54
Here is the output of the command :

![image](https://user-images.githubusercontent.com/4179528/89871071-1a99b300-dbb7-11ea-8488-90f635a62b0a.png)

[2020-08-12 15:33] lkiersey commented on #52
Hi I have tested it and there is a positive and a negative result. The positive is that it recognizes the camera is in Bulb mode and allows me to take a picture both in GUI and CLI mode. The negative is that I still have the same issue where the shutter fails to stay open it fires and closes immediately and downloads the image then after the specified time it completes as if it worked fine.
![test

[2020-08-12 15:42] sh0 commented on #52
@lkiersey Thank you for testing. My changes were mostly about switching to different exposure modes and reading what exposure mode the camera is using. In this sense I guess the patch works to some degree. Can you also tell if the pktriggercord recognizes other exposure modes (Tv, Av, M etc) accurately and if you change modes from pktriggercord then the mode is also correctly changed in camera?

I

[2020-08-12 15:54] lkiersey commented on #52
Yes I can confirm that the camera correctly switches between all the different modes. And I can select them from the drop down in User mode.

[2020-08-12 16:20] sh0 commented on #52
Thanks. So the mode setting works nicely.

The log lines `pslr.c:981:get_status(p->fd) failed: 129` mean that reading status after sending bulb trigger commands failed. So probably the bulb exposure triggering is done in some other way on K-30.

One quick hack to try is to change camera info flags in `pslr_model.c`. On top of my PR change the following:

    { 0x12f52, "K-30",        false, true,

[2020-08-13 06:54] lkiersey commented on #52
As you suspected this didnt work as it reports camera cannot work in new bulb mode. Its so close to working :) I can feel it!

[2020-08-22 15:22] asalamon74 commented on #54
So the good news is that it recognised the camera and was able to ask for the status buffer. The buffer size is 452 bytes which is the same for several other models.

The bad news is that almost all the bytes are 00 in the status buffer, so we cannot really parse any information.

1. Some models like if you first turn on the camera and connect to the PC after that. Other models like the other way

[2020-09-02 08:50] mitsugu opened #63 "Plans to support KP in the future?"
Hi, All.
I can't find KP in the supported cameras listed in README.md. Will you support it in the future?
I'm having trouble because there is no tethering software that works on Ubuntu.

[2020-09-05 06:59] asalamon74 commented on #63
Basic support has been added, but it's not really tested yet. Someone reported that it was possible to take pictures, but bulb mode was not working.

If you want to test it, I suggest to compile the program from the latest source, and start with the command line interface.

[2020-09-05 07:07] mitsugu commented on #63
Thank you. I will try.

[2020-09-11 14:05] LucasFarmer opened #64 "Trouble Installing"
whenever I try to use Make - Make clean - make install, I get this error.
~/pktriggercord-0.85.00$ sudo make && make
[sudo] password for *******
cc -O3 -g -Wall -Isrc/external/js0n -fPIC -c src/external/js0n/js0n.c -o src/external/js0n/js0n.o
src/external/js0n/js0n.c:4:10: fatal error: string.h: No such file or directory
    4 | #include <string.h> // one strncmp() is used to do key comparison, an

[2020-09-12 05:55] asalamon74 commented on #64
If you want to compile the program you need several devel packages installed on the system. For `string.h` you most likely need kernel devel packages. In my repository the package is called `kernel-desktop-devel` I think in Mint it's called `linux-headers`.

Side node: For compilation, you don't need sudo, as long as you created the directory using a non-root user.

[2020-09-25 05:36] asalamon74 commented on #53
I modified the code to understand decimal and rational notion better.

Now it's possible to specify rationals not only in the format of 1/q but p/q. So it's possible to set 3/30 for instance.

For the decimal, I send the value as p/1000 so 0.04 will be sent as 40/1000 and it will be correctly recognized as 1/25.

1/1000 means that very short values should still be sent using the rational format. B

[2020-09-25 05:36] #53 closed

[2020-11-16 21:31] blemasle commented on #49
Hi @asalamon74 ,

As I didn't hear for you after the last commits, I left the project aside. Today I merged the last fixes from master to the branch. I'll open a pull request with it. Even if it's not get merged right away, it will make things easier to track.

Cheers.

[2020-11-27 06:32] asalamon74 commented on #49
@blemasle Sorry for the missing response. This is a big change and I was always afraid to commit it and had no time to really testing it. This change addresses multiple things so I think I'll try to commit in multiple parts. I'll start with the windows compilation changes which are quite useful even without the library part. Thanks for all the work.

[2020-11-30 20:42] blemasle commented on #49
@asalamon74 No worries.
If you want, I can open a PR with only the changes related to the windows compilation (well, the Makefile makeover actually).
I can maintain https://github.com/asalamon74/pktriggercord/pull/68 up to date to date with master, but it will be a hard work. There is already some conflicts despite the fact that I merged master into the branch right before opening the PR.

Appart

[2020-12-01 07:31] asalamon74 commented on #49
@blemasle I already committed the windows cross-compilation: deae2e60e58441e6762c25fb62779ccba856edfb

[2020-12-02 22:02] blemasle commented on #49
Great! Do you still plan to reintegrate the branch at some point in the future?

I don't mind if you don't, really. I think it would be bad news for other pieces of codes out there that have to maintain a fork of this repository for the exact purpose this branch was set up initially. But I in total honesty don't want to spend time maintaining that branch up to date with master if it won't be merge

[2021-02-12 13:01] #64 closed

[2021-02-12 15:19] asalamon74 commented on #49
One more commit, the method renames: bdba056f5f4663f5a5492049c5c960d9cab4531d

I'll keep adding more and more from this branch. I know that I'm terribly slow, but it's getting closer:

[code]

[2021-02-12 17:35] blemasle commented on #49
No worries. I'm glad to see that this work will eventually be reintegrated at some point 👍

If you ever need help to glue old and new commits together, do not hesitate to reach me :) I remember having a hard time moving functions around so that references were optimal for instances (no extra function in the lib etc).

[2021-02-13 10:17] asalamon74 commented on #49
And one more commit, the logging changes: 5f32c9e30e0080ef67b40a866c1a009f218d96c5

This is again a useful change on its own.

[code]

[2021-03-13 17:43] Oodini commented on #51
I have the same problem on a K-3(-I) with firmare 1.40.
Connecting the K-3 after switching on resolved the problem, but... then, I cannot change the ISO setting ! But... when I unplug the K-3, the ISO is set to the value I set sooner in PkTriggerCoord.
Also... I cannot change the exposition correction.

[2021-03-31 02:19] 56Tbird commented on #8
Has a patch been sent for the K-3. I am not even getting to first base with the program, following all the instructions gets me a blank screen and a non functioning camera. help?

[2021-03-31 02:55] 56Tbird commented on #51
I also have a Pentax K-3 with frimware 1.40.
I do not know if my installation went well or I missed bit of information along the way.
It looked like the camera and Lightroom were going to work, but to my dismay the camera went blank and Lightroom would no longer recognize the K-3. I am using the PK Trigger Cord.  I was under the impression that everything was compatible. Any suggestion or installa

[2021-04-05 08:01] asalamon74 commented on #8
@56Tbird Small fixes was applied but K-3 support is still not the best. Here you can find a few tricks that might help: http://pktriggercord.melda.info/tips_and_tricks.html

What operating system do you use? What is the debug output of the program?

[2021-04-05 09:18] asalamon74 commented on #49
One more commit for pslr_utils: https://github.com/asalamon74/pktriggercord/commit/008737c5bb0d3b6f7af9e26085e4b9bbfc7161d1

[code]

[2021-06-10 07:36] 4920441 opened #69 "Confused: ist*DL Limited support or not supported?"
Hi,

I find very different dokumentation artifacts about  pktiggercord  and the 'good olde' Pentax ist*DL DSLR ranging from not supported over not tested  up to (in the main github page) parti "limited support"....

What can I expect?   Or asked differently, I do only own exactly this model - when I try  pktriggercord and nothing happens, then "not support" or "I mixed something up" is possible? :

[2021-06-10 08:11] asalamon74 commented on #69
It's listed as "limited support" in the webpage ( https://github.com/asalamon74/pktriggercord/ ) and in the README ( https://github.com/asalamon74/pktriggercord/blob/master/README.md ). Where do you see the not supported info?

Limited support means: You can take pictures, change settings using the command line version, but you cannot read the status fields. Limited version of GUI allows taking a

[2021-10-18 16:59] Javier-MH commented on #51
Hello.
I have a K3-II and USB 3 cable.
I suffered the same issue with speed. After connecting the camera to pktriggercord, speed was fixed to 30 sec. Also, with pktriggercord-cli the detected speed was 0/0.
I read the solution in this thread: turn the camera ON, then plug the USB cable, then start pktriggercord.
I use pktriggercord in M mode, and I can save files into a folder that is monitored by

[2021-11-13 13:00] SM3NSE opened #72 "Wrong image height on RAW files from K-5 when using pktriggercord"
Hi.
I use a astromodified Pentax K-5 for astrophotography with Kstars/EKOS/INDI which uses libpktriggercord for camera control
[https://www.indilib.org/ccds/pentax-dslr.html](url)

The problem is that the image size is wrong for RAW files.
Raw image sizes when shot in camera are            4992x3284
Raw image sizes when shot with pktriggercord are 4992x3344
This leaves a black stripe at the bottom

[2021-11-14 08:44] asalamon74 commented on #72
PkTriggerCord does not do any resizing or image processing. It asks for the camera for the image, downloads the binary data and saves it to a file.

Someone already reported (but I cannot find the link now) that pktriggercord save a "more raw" image compared to the images created just by the camera. It was quite useful for him (for astro photography), because some built-in noise reduction was skip

[2022-01-13 20:02] jesshurch opened #73 "K-3 Bulb mode duration not set"
Setting camera (K-3) to bulb mode (single press) with a shutter speed of any multiple of seconds results in an exposure of 1/17 of a second.
I get the error:
pslr.c:948:get_status(p->fd) failed: 129
during a wait for the exposure to complete
I first tried this in ekos which uses libpktriggercord (via gphoto2) where setting bulb mode to press-pres meant the exposure would never complete

tested on

[2022-01-14 03:59] Blueshawk commented on #73
I had a very similar problem recently, saw this in issue in the email summary and might be able to help with this.

I ran into a very similar error a few weeks ago and I'm pretty sure I remember it was because the symlink "indi_pentax_ccd" --> indi_gphoto_ccd was missing in usr/bin.

sudo ln -s /usr/bin/indi_gphoto_ccd /usr/bin/indi_pentax_ccd

 It could possibly be caused by a build script error

[2022-01-14 07:24] jesshurch commented on #73
Thanks Blueshawk,

I have a fairly recent build of libindi (Dec 15) and the symlink is already in place so it doesn't appear to be the case.
I'll try the indilib git as I suspect more people will be using indilib than pktriggercord independently

[2022-01-14 15:41] Blueshawk commented on #73
I see now I misunderstood something when I responded. I use my k5 in single press mode, and I'm pretty sure at least the pktriggercord/gphoto2 version of the indi driver requires it.

  The error message and fail to capture originally seemed more in line with my recent error, but I checked the code and it looks like the fail to get status may be because the camera is still busy capturing. I.e In p

[2022-01-14 16:04] 56Tbird commented on #73
Thank you for your assistance, I have just about given up on the idea of tethering with the K3.I will circle back around an give it a try again.

-----Original Message-----
From: Blueshawk ***@***.***>
To: asalamon74/pktriggercord ***@***.***>
Cc: Subscribed ***@***.***>
Sent: Fri, Jan 14, 2022 7:41 am
Subject: Re: [asalamon74/pktriggercord] K-3 Bulb mode duration not set (Issue #73)

I see now I

[2022-01-14 16:10] jesshurch commented on #73
I'd seen somewhere else the trick to set bulb mode in one of the user settings. I tried that in U3, but to no avail. I also tried switching astrotracer timed exposures on, but that failed, possibly because I have no OGPS1 module.

I'm figuring I can use manual mode for exposures up to 30 sec which will help plate solving, then I can use an external intervalometer, but I'm not giving up yet ...

[2022-01-14 16:51] Blueshawk commented on #73
Arg... I see now. I wasn't up to speed on the K3 and thought this was solved.  Keep at it. Maybe somebody will shake it loose eventually. FWIW my k50 never did bulb.(gphoto issue 31)

Anyone following can see this issue for more details:
https://github.com/indilib/indi-3rdparty/issues/90

[2022-02-09 13:53] tempelmann commented on #38
I had another look after learning how to use Apple's native SCSI APIs:

1. There is really no pass-thru method in macOS via ioctl(), so the BSD access method won't work here.
2. To use the native API (via `<IOKit/scsi/SCSITaskLib.h>`), the device must not be claimed already by a macOS driver, which is will if the Camera is in MSC mode: Then it'll present itself as a mass storage device, and macOS

[2022-02-09 23:51] rlancaste commented on #38
So, one thing that might help here is that we already disable the PTP Camera program because we have to do that to control Canon cameras and I think other DSLR's as well.  That means that it does not get taken over by MacOS and is left open for gphoto control.  That's already a part of KStars https://github.com/KDE/kstars/blob/ff1ac9cfeb1f11b4fb8725b643ae9e0c8950ab09/kstars/ekos/manager.cpp#L857

[2022-02-10 00:00] tempelmann commented on #38
@rlancaste Thanks for keeping an eye on this topic. The code you've shown is handling a user-owner process, though, which is easy to deal with (i.e. simply force-quit it) in order to release any hold on the PTP device. With the block storage device this is more difficult because it's macOS (i.e. the kernel) that takes over control of it. And there are no APIs to force it to give it up.

I am curre

[2022-02-10 00:05] 56Tbird commented on #38
I have had no luck with tethering my Pentax Cameras to Lightroom. Ricoh website was not helpful, hoping that they will work things out.

-----Original Message-----
From: Thomas Tempelmann ***@***.***>
To: asalamon74/pktriggercord ***@***.***>
Cc: Subscribed ***@***.***>
Sent: Wed, Feb 9, 2022 4:01 pm
Subject: Re: [asalamon74/pktriggercord] make fails on a Mac - sg.h not found (#38)

@rlancaste Tha

[2022-02-10 01:12] rlancaste commented on #38
No problem, sorry I can't be more help with it, I don't have as much experience working with lower level stuff.  I modified a couple of INDI drivers to make them work better on Macs, but they didn't need the kind of work you are talking about.  But if you get the pktriggercord program working on Mac, I can help by getting it in the 3rdParty build and I can get it building with the rest of the MacO

[2022-02-10 11:01] tempelmann commented on #38
Anything on my question whether pgtriggercord works with the camera being in PTP mode instead of MSC? I can't find a definitive answer in the docs or the code on this.

[2022-02-10 13:27] mccodesurfer commented on #38
This PKTriggercord doc shows that it uses MSC - I tried to work on this a long time ago and gave up. I later employed Codementor  help but it seems one would have to use ImageCapture (or its successor) to talk to the Camera. But it would be great if someone found an alternative
[pentax_scsi_protocol.md](https://github.com/asalamon74/pktriggercord/files/8041285/pentax_scsi_protocol.md)
.

[2022-06-06 22:38] ian-morgan99 commented on #34
I just found this project . I have a K01, K3iii and K1ii and would be happy to test all if it helps the project .

[2022-06-07 00:18] ian-morgan99 opened #74 "Support for K3iii"
Has anyone tested yet with a K3iii yet, and if so, is everything working?

[2022-06-12 08:10] asalamon74 commented on #74
Not yet, but I can create a version which handles this camera as the previous K-3 cameras if you can help to test it. What operating system do you use?

[2022-06-12 08:13] asalamon74 commented on #34
K-01: It has been tested but has lots of bugs. See: https://github.com/asalamon74/pktriggercord/issues/24
K-1 II: As you see in this issue, it has some limitations. It would be great if you could test it and summarize the results here.
K-3 III: Not yet tested, we can continue this in #74

[2022-06-12 15:34] ian-morgan99 commented on #74
I'm mostly using Windows with a wired connection, though also starting to use Android Studio to start to learn a bit about Android development , so could try wired in Windows or wifi on Android .

[2022-06-12 15:38] ian-morgan99 commented on #74
PS - Huge thanks :)

[2022-06-12 15:44] ian-morgan99 commented on #34
Do you have a standard test script to go through please, so my testing is not too 'ad-hoc' ?

[2022-07-20 12:25] asalamon74 commented on #74
First, sorry for the very slow response.

The android version is very limited (and there is no command line version), so I attach a windows version. Basically I treat K-3 III as K-3 II.

First I suggest testing the status reading:

[code]

If that works, you can try to take a single picture:

[code]

[pktriggercord-0.85.01-win.zip](https://github.com/asalamon74/pktriggercord/files/9149689/pktrigge

[2022-07-23 05:39] ian-morgan99 commented on #74
Brilliant. Many thanks. I'm due to have some time free in the next 2 weeks, so will get testing :)

[2022-07-25 01:40] billh8 commented on #8
Any progress for full K-3(original) support?

I see comments on "bulb mode" & "shuttle speed" problems. But I can't take pictures at all!

Running GUI mode on Windows 7 shows "JSON: Cannot find camera model" message. Status output is fine but no "settings info." Hitting the Focus button causes the camera to focus but hitting the take picture button will hang the program.

I have attached Windows 7

[2022-07-26 02:11] billh8 commented on #8
Following up on yesterday's comments.

The problem I'm encountering doesn't seem to be related to firmware version. I started with v1.43 & successively downgraded it to v1.20 & the behavior at each firmware revision seems to be the same.

HTH!

[2022-08-07 07:58] asalamon74 commented on #34
@ian-morgan99 It is best to start with reading the status info. If that works, taking a picture. Commands can be found here:

https://pktriggercord.melda.info/debug.html

[2022-08-07 08:12] asalamon74 commented on #8
@billh8 This is a useful information, at least it shows that the problem is not firmware-related. Unfortunately it does not help to find the problem.

The "JSON: Cannot find camera model" is not too important. Most of the information can be read from the status buffer, like this one from your log:

[code]
but some information can be acquired by reading settings. The raw data can be read using `--s

[2022-08-10 05:01] billh8 commented on #8
Thanks for the lead. After disabling all the lens correction options, I was able to snap a shot & have it download via the command line interface.

However, I ran into inconsistent behavior when I tried to set ISO, aperture & shutter speed via the command line. At first, the only problem I encountered was not being able to set ISO; aperture & shutter speed responded correctly.

The K-3 was running

[2022-08-10 18:24] billh8 commented on #8
Sorry, should have searched for shutter speed issues before posting my last comment. Saw in issue [#51](https://github.com/asalamon74/pktriggercord/issues/51) that connecting the K-3 after switching on resolved the shutter speed problem.

Did that for both firmware v1.21 & v1.43. I was able to control both aperture & shutter speed now.

I also saw that ISO can't be changed while connected, but the

[2022-08-13 11:45] FAb7D commented on #63
KP don't work. Debug with USB MSC:
`pktriggercord-cli` `--debug
Debug messaging is now enabled.
command line:
pktriggercord-cli --debug
pktriggercord-cli 0.85.00
model (null)
device (null)
[C]	plsr_init()
Cannot open /sys/class/scsi_generic
driveNum:38
	Checking drive:  loop1
	Checking drive:  dm-1
	Checking drive:  nvme0n1
	Checking drive:  ram2
	Checking drive:  ram0
	Checking drive:  loop8
	Che

[2022-08-13 11:52] asalamon74 commented on #63
Looks like it has no right to read info. Can you try running the program as root?

[2022-08-14 09:49] FAb7D commented on #63
Great! Work as root! Thank you very much! Is there any way to avoid to use root? There isn't a liveview but you can take photo, focusing , change shutter speeds and ISO.
Anyway the debug is the following:
`sudo pktriggercord-cli --debug`
`Debug messaging is now enabled.`
`command line:
pktriggercord-cli --debug
pktriggercord-cli 0.85.00
model (null)
device (null)
[C]	plsr_init()
Cannot open /sys/c

[2022-08-14 15:41] FAb7D opened #78 "Use camera like webcam"
Is it possible with pktriggercord to redirect a live view to v4l to use the camera as a webcam?

[2022-08-14 15:43] asalamon74 commented on #78
Not that I now of. The program is not working in liveview mode.

[2022-08-14 16:16] FAb7D commented on #78
Ok, thank you!

[2022-08-22 21:16] FAb7D opened #79 "RICOH Camera USB SDK for C++"
I like to know your opinion as programmers regarding the usefulness of these SDKs released by Pentax and their possibility of being implemented in programs like pktriggercord.
https://api.ricoh/docs/camera-usb-sdk-cpp/
I ask why it seemed useful to me, but it doesn't seem to me that it has been used by anyone (pktriggercor, libgphoto2) and then I was curious to understand what escapes me and  why

[2022-08-27 06:53] #78 closed

[2022-08-28 18:09] #79 closed

[2022-09-03 13:11] asalamon74 commented on #79
Yes, I've heard about that, but I don't think that I'll have time to investigate it.

[2022-09-03 13:37] FAb7D commented on #79
Okay, thanks for the reply.